- name: setting locale
  locale_gen:
    name: "{{ system_locale }}"
    state: present

- name: install sudo
  apt:
    name: sudo
    state: installed

- name: installing dependencies
  apt:
    name: "{{ item }}"
    state: installed
    update_cache: yes
  with_items:
  - postgresql-9.6-postgis-2.3
  - postgresql-9.6-postgis-2.3-scripts #for postgis.control
  - postgresql-contrib-9.6 #for dblink extension
  - postgis

- name: install python-psycopg2 for ansible psql modules
  apt:
    name: python-psycopg2
    state: installed

- name: create georchestra user
  become: yes
  become_user: postgres
  postgresql_user:
    name: "{{ georchestra.db.user }}"
    password: "{{ georchestra.db.pass }}"

- name: create georchestra main database
  become: yes
  become_user: postgres
  postgresql_db:
    name: "{{ georchestra.db.name }}"
    owner: "{{ georchestra.db.user }}"
    template: template0
    encoding: UTF8

- include: geonetwork.yml
  become: yes
  become_user: postgres
  tags: postgresql_geonetwork

- include: geofence.yml
  become: yes
  become_user: postgres
  tags: postgresql_geofence

- include: other_schemas.yml
  become: yes
  become_user: postgres
  tags: postgresql_other_schemas

- include: geofence_gsinstance.yml
  become: yes
  become_user: postgres
  tags: postgresql_geofence_gsinstance

- include: cadastrapp.yml
  tags: postgresql_cadastrapp
  when: cadastrapp.enabled

- include: clean.yml
  tags: [cleanup, postgresql_cleanup]
  when: cleanup is defined
