- name: create temporary directory
  become: yes
  become_user: postgres
  shell: mktemp -d
  always_run: yes
  register: tempdir

- name: fetch db structure
  get_url:
    dest: "{{ tempdir.stdout }}/{{ item.0 }}.sql"
    url: "{{ item.1 }}"
    validate_certs: no
  with_together:
    - other_schemas
    - other_schemas_urls

- name: check if mapfishapp schema already exists
  become: yes
  become_user: postgres
  command: psql -d {{ georchestra.db.name }} -t -c "select * from pg_tables where schemaname='{{ item }}';"
  register: schema_exists
  with_items: other_schemas

- name: create missing schemas
  become: yes
  become_user: postgres
  command: psql -d {{ georchestra.db.name }} -f {{ tempdir.stdout }}/{{ item.item }}.sql
  when: "item.stdout is defined and '{{ item.item }}' not in item.stdout"
  with_items: schema_exists.results

- name: recursively purge temp dir
  always_run: yes
  file: dest={{ tempdir.stdout }} state=absent

- name: grant all privileges to georchestra user on schema
  become: yes
  become_user: postgres
  postgresql_privs:
    database: "{{ georchestra.db.name }}"
    privs: ALL
    type: schema
    roles: "{{ georchestra.db.user }}"
    objs: "{{ other_schemas|join(',') }}"

- name: grant all privileges to georchestra user on sequences in schema
  become: yes
  become_user: postgres
  postgresql_privs:
    database: "{{ georchestra.db.name }}"
    privs: ALL
    type: sequence
    schema: "{{ item }}"
    roles: "{{ georchestra.db.user }}"
    objs: ALL_IN_SCHEMA
  with_items: other_schemas

- name: grant all privileges to georchestra user on tables in schema
  become: yes
  become_user: postgres
  postgresql_privs:
    database: "{{ georchestra.db.name }}"
    privs: ALL
    type: table
    schema: "{{ item }}"
    roles: "{{ georchestra.db.user }}"
    objs: ALL_IN_SCHEMA
  with_items: other_schemas
