- name: installing dependencies
  apt: pkg={{ item }} state=installed update_cache=yes
  with_items:
  - git
  - slapd
  - ldap-utils

- name: create temporary directory
  always_run: yes
  shell: mktemp -d
  register: tempdir

- name: fetch LDAP files
  get_url:
    dest: "{{ tempdir.stdout }}/{{ item }}.ldif"
    url: "{{ openldap.gitrepo }}/{{ openldap.gitversion }}/ldap/{{ item }}.ldif"
    validate_certs: no
  with_items: openldap.ldifs

- name: fix ldif to match our layout/rootdn/basedn
  replace:
    dest: "{{ tempdir.stdout }}/{{ item.1 }}.ldif"
    regexp: "{{ item.0.pat }}"
    replace: "{{ item.0.val }}"
    backup: yes
  with_nested:
    - [
#    { pat: 'olcDatabase=\{1\}mdb', val: "olcDatabase={2}mdb" },
    { pat: 'cn=admin,dc=georchestra,dc=org', val: "{{ openldap.rootdn }}" },
    { pat: 'dc=georchestra,dc=org', val: "{{ openldap.basedn }}" },
    { pat: 'dc: georchestra', val: "dc: {{ openldap.topdc }}" },
    { pat: 'olcRootPW: secret', val: "olcRootPW: {{ openldap.rootpw }}" },
    { pat: 'geoserver_privileged_user', val: "{{ geoserver.privileged.user }}" },
    { pat: 'userPassword:: e1NIQX1XMlY4d2UrOFdNanpma28rMUtZVDFZcWZFVDQ9', val: "userPassword: {{ geoserver.privileged.pass }}" }]
    - openldap.ldifs

- name: bootstrap the db
  command: >
    ldapadd -Y EXTERNAL -H ldapi:/// -f "{{ tempdir.stdout }}/bootstrap.ldif"
    creates=/etc/ldap/slapd.d/cn=config/olcDatabase={2}mdb.ldif

- name: import groupofMembers
  command: >
    ldapadd -Y EXTERNAL -H ldapi:/// -f "{{ tempdir.stdout }}/groupofmembers.ldif"
    creates=/etc/ldap/slapd.d/cn=config/cn=schema/cn={4}groupofmembers.ldif

# loaded by default in debian's slapd ?
#- name: import memberof
#  command: >
#    ldapadd -Y EXTERNAL -H ldapi:/// -f "{{ tempdir.stdout }}/memberof.ldif"
#    creates=/etc/ldap/slapd.d/cn=config/olcDatabase={2}mdb/olcOverlay={0}memberof.ldif

- name: temporarly store cleartext admin rootpw
  copy: dest={{ tempdir.stdout }}/admin-georchestra.pass content={{ openldap.rootpw }} mode=0400

- name: check if the root already exists
  command: "ldapsearch  -x -b {{ openldap.basedn }} {{ openldap.topdc }}"
  ignore_errors: true
  register: topdc

- name: create root dn
  command: >
    ldapadd -D {{ openldap.rootdn }} -x -y {{ tempdir.stdout }}/admin-georchestra.pass -f "{{ tempdir.stdout }}/root.ldif"
  when: "topdc.stdout is defined and '# numEntries: 1' not in topdc.stdout"

- name: check if the testadmin user already exists
  command: ldapsearch  -x -b {{ openldap.basedn }} uid=testadmin
  ignore_errors: true
  register: testadmindn

- name: create tree and users
  command: >
    ldapadd -D {{ openldap.rootdn }} -x -y {{ tempdir.stdout }}/admin-georchestra.pass -f "{{ tempdir.stdout }}/georchestra.ldif"
  when: "testadmindn.stdout is defined and '# numEntries: 1' not in testadmindn.stdout"

#- name: recursively purge temp dir
#  file: dest={{ tempdir.stdout }} state=absent

- include: clean.yml
  tags: [cleanup, openldap_cleanup]
  when: cleanup is defined
