JAVA_HOME=/usr/lib/jvm/adoptopenjdk-8-hotspot-amd64
JAVA_OPTS="-Djava.awt.headless=true -XX:+UseConcMarkSweepGC \
	-Xms{{ tomcat_instances.geoserver.xms }} \
	-Xmx{{ tomcat_instances.geoserver.xmx }} \
	-Dgeorchestra.datadir={{ georchestra.datadir.path }} \
	-DGEOSERVER_DATA_DIR={{ geoserver.datadir.path }} \
	-DGEOWEBCACHE_CACHE_DIR={{ geowebcache_datadir }} \
	-DGEOSERVER_CSRF_WHITELIST={{ georchestra.fqdn }} \
	-Dfile.encoding=UTF8 \
	-Djavax.servlet.request.encoding=UTF-8 \
	-Djavax.servlet.response.encoding=UTF-8 \
	-Djava.library.path=/usr/lib/jni:/opt/libjpeg-turbo/lib64/ \
	-server \
	-XX:SoftRefLRUPolicyMSPerMB=36000 \
	-XX:NewRatio=2 \
	-XX:+AggressiveOpts"
