JAVA_OPTS="-Djava.awt.headless=true -XX:+UseConcMarkSweepGC \
	-Xms2G \
	-Xmx2G \
	-XX:MaxPermSize=256m \
	-Djavax.net.ssl.trustStore=/etc/tomcat6/keystore \
	-Djavax.net.ssl.trustStorePassword={{ tomcat_keystore_pass }} \
	-Dorg.geotools.referencing.forceXY=true \
	-Dextractor.storage.dir={{ extractor_datadir }} \
	-Dgeonetwork.dir={{ geonetwork_datadir }} \
	-Dgeonetwork.schema.dir={{ geonetwork_datadir }}/config/schema_plugins \
	-Dgeonetwork.jeeves.configuration.overrides.file=/srv/tomcat/georchestra/webapps/geonetwork/WEB-INF/config-overrides-georchestra.xml"

# Unset LC_ALL to prevent user environment executing the init script from
# influencing servlet behavior.  See Debian bug #645221
unset LC_ALL
