JAVA_OPTS="-Djava.awt.headless=true -XX:+UseConcMarkSweepGC \
	-Xms1G \
	-Xmx2G \
	-XX:MaxPermSize=256m \
	-Djavax.net.ssl.trustStore=/etc/tomcat8/keystore \
	-Djavax.net.ssl.trustStorePassword={{ tomcat_keystore_pass }} \
	-Dorg.geotools.referencing.forceXY=true \
	-Djava.util.prefs.userRoot=/tmp \
	-Djava.util.prefs.systemRoot=/tmp \
	-Dextractor.storage.dir={{ extractor_datadir }} \
	-Dgeorchestra.datadir={{ georchestra.datadir.path }} \
	-Dgeonetwork.jeeves.configuration.overrides.file={{ georchestra.datadir.path }}/geonetwork/config/config-overrides-georchestra.xml"

# Unset LC_ALL to prevent user environment executing the init script from
# influencing servlet behavior.  See Debian bug #645221
unset LC_ALL
LANG={{ system_locale }}
