JAVA_OPTS="-Djava.awt.headless=true -XX:+UseConcMarkSweepGC \
	-Xms256m \
	-Xmx256m \
	-XX:MaxPermSize=128m \
	-Djavax.net.ssl.trustStore=/etc/tomcat6/keystore \
	-Djavax.net.ssl.trustStorePassword={{ tomcat_keystore_pass }}"

# Unset LC_ALL to prevent user environment executing the init script from
# influencing servlet behavior.  See Debian bug #645221
unset LC_ALL
