JAVA_HOME=/usr/lib/jvm/adoptopenjdk-8-hotspot-amd64
JAVA_OPTS="-Djava.awt.headless=true -XX:+UseConcMarkSweepGC \
	-Xms1G \
	-Xmx2G \
	-Djavax.net.ssl.trustStore=/etc/tomcat9/keystore \
	-Djavax.net.ssl.trustStorePassword={{ tomcat_keystore_pass }} \
	-Dorg.geotools.referencing.forceXY=true \
	-Djava.util.prefs.userRoot=/tmp \
	-Djava.util.prefs.systemRoot=/tmp \
	-Dextractor.storage.dir={{ extractor_datadir }} \
	-Dgeorchestra.datadir={{ georchestra.datadir.path }} \
	-Dmapfish-print-config={{ georchestra.datadir.path }}/mapfishapp/print/config.yaml \
	-Dgeonetwork.jeeves.configuration.overrides.file={{ georchestra.datadir.path }}/geonetwork/config/config-overrides-georchestra.xml"
