[Unit]
Description=Tomcat8 - instance %i
After=syslog.target network.target

[Service]
Type=forking

User=tomcat8
Group=tomcat8

Environment=LANG={{ system_locale }}
Environment=JRE_HOME=/usr/lib/jvm/default-java
Environment=CATALINA_HOME=/usr/share/tomcat8
Environment=CATALINA_TMPDIR=/srv/tomcat/%i/temp
Environment=CATALINA_PID=/run/tomcat/%i.pid
PIDFile=/run/tomcat/%i.pid

EnvironmentFile=/etc/default/tomcat-%i
PassEnvironment=JAVA_OPTS LANG

ExecStart={{ tomcat_basedir }}/%i/bin/startup.sh
ExecStop={{ tomcat_basedir }}/%i/bin/shutdown.sh

SyslogIdentifier=tomcat8-%i
Restart=on-failure

[Install]
WantedBy=multi-user.target
