<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="proxy"  init-method="init"
          class="org.georchestra.security.Proxy">
<!--          <property name="defaultTarget" value="http://localhost:8280/sec/"/>-->
          <property name="headerManagement" ref="headerManagementBean"/>
          <property name="defaultCharset" value="UTF-8"/>

          <property name="checkHealth" value="false"/>
          <property name="maxDatabaseConnections" value="170"/>    
                
          <property name="database" value="{{ georchestra_dbname }}"/>

<!--  Need to make host and port configurable
          <property name="host" value="localhost"/>
          <property name="port" value="5432"/> -->
          <property name="user" value="{{ georchestra_dbuser }}"/>
          <property name="password" value="{{ georchestra_dbpass }}"/>
          <property name="proxyPermissionsFile" value="permissions.xml"/>

          <property name="targets">
               <map>
{% for f in georchestra_wars %}
{% if georchestra_wars[f].tomcat != 'proxycas' %}
                    <entry key="{{ f }}"     value="http://localhost:{{ tomcat_instances[georchestra_wars[f].tomcat]['port']}}/{{ f }}/" />
{% endif %}
{% endfor %}
               </map>
          </property>
          <property name="requireCharsetContentTypes">
            <list>
                <value>application/xml</value>
                <value>text/xml</value>
                <!-- OGC Service Exception -->
                <value>application/vnd.ogc.se_xml</value>
                <value>application/vnd.ogc.se+xml</value>
                <!-- OGC Success (SLD Put) -->
                <value>application/vnd.ogc.success+xml</value>
                <!-- WMS Capabilities -->
                <value>application/vnd.ogc.wms_xml</value>
                <!-- WMC -->
                <value>application/vnd.ogc.context+xml</value>
                <!-- GML -->
                <value>application/vnd.ogc.gml</value>
                <!-- SLD -->
                <value>application/vnd.ogc.sld+xml</value>
                <!-- KML -->
                <value>application/vnd.google-earth.kml+xml</value>
            </list>
          </property>
    </bean>
          
    <bean id="headerManagementBean"
          class="org.georchestra.security.HeadersManagementStrategy">
        <!-- If set then the referrer header will always be the current server even if client sends its
             own referrer header

             Comment out property to use client referrer instead of this host -->
        <property name="referer" value="http://{{ georchestra_fqdn }}/"/>
        <property name="headerProviders">
            <list>
                <bean class="org.georchestra.security.SecurityRequestHeaderProvider"/>
                <bean class="org.georchestra.security.ImpersonateUserRequestHeaderProvider">
                    <property name="trustedUsers">
                        <list>
                            <value>geoserver_privileged_user</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.georchestra.security.LdapUserDetailsRequestHeaderProvider">
                    <constructor-arg index="0" ref="ldapUserSearch"/>
                    <constructor-arg index="1">
                        <map>
                        <entry key="sec-email"     value="mail" /><entry key="sec-firstname" value="givenName" /><entry key="sec-lastname"  value="sn" /><entry key="sec-org"       value="o" /><entry key="sec-tel"       value="telephoneNumber" />
                        </map>
                    </constructor-arg>
                </bean>
            </list>
        </property>
        <property name="filters">
            <list>
                <bean class="org.georchestra.security.SecurityRequestHeaderFilter" />
                <bean class="org.georchestra.security.RemoveXForwardedHeaders">
                    <!-- Only one of includes or excludes may have elements -->
                    <property name="includes">
                        <list>
                            <!-- set the patterns of urls that (when matched) will have the x-forwarded-* headers removed -->
                            <value>.*geo.admin.ch.*</value>
                        </list>
                    </property>
                    <property name="excludes">
                        <list>
                            <!-- set the patterns of urls that (when matched) will NOT have the x-forwarded-* headers removed -->
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="properties-loader"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
        p:locations="/WEB-INF/security-proxy.properties" />
    
</beans>
