---
- name: install the gn-ogc-api-records microservice
  get_url:
    url: "{{ gn_ogc_api_records.url }}"
    dest: /usr/share/lib/gn-ogc-api-records.jar

- name: template the configuration file
  tags: config
  template:
    src: geonetwork/gn-ogc-api-records-config.yml.j2
    dest: /etc/georchestra/geonetwork/microservices/ogc-api-records/config.yml
  notify: restart gn-ogc-api-records

- name: setup a systemd unit file
  tags: systemd
  template:
    src: geonetwork/gn-ogc-api-records.service.j2
    dest: /etc/systemd/system/gn-ogc-api-records.service
  register: gn_ogc_api_records_unitfile

- name: start/enable the gn-ogc-api-records service
  tags: systemd
  systemd:
    state: restarted
    daemon_reload: true
    enabled: true
    name: gn-ogc-api-records
  when: gn_ogc_api_records_unitfile.changed
