---
- name: create datadirs
  tags: wars
  file:
    path: "{{ item }}"
    state: directory
    owner: tomcat
    group: tomcat
  with_items:
    - "{{ geonetwork.datadir.path }}"
    - "{{ geoserver.datadir.path }}"
    - "{{ geowebcache_datadir }}"

- import_tasks: config.yml
  tags: config

- import_tasks: sviewer.yml
  tags: sviewer

- import_tasks: war_cadastrapp.yml
  tags: cadastrapp_war
  when: cadastrapp.enabled

- import_tasks: geoserver.yml
  tags: geoserver

- import_tasks: geonetwork.yml
  tags: geonetwork

- import_tasks: wars.yml
  tags: wars

- import_tasks: datafeeder.yml
  tags: datafeeder
  when: datafeeder.enabled

- import_tasks: gn-cloud-searching.yml
  tags: gn-cloud-searching
  when: gn_cloud_searching.enabled

- import_tasks: gn-ogc-api-records.yml
  tags: gn-ogc-api-records
  when: gn_ogc_api_records.enabled

- import_tasks: cas-standalone.yml
  tags: cas
  when: cas is defined and cas.enabled and tomcat_version == 10

- import_tasks: gateway.yml
  tags: gateway
  when: gateway is defined and gateway.enabled

- import_tasks: mviewerstudio.yml
  tags: mviewerstudio
  when: mviewerstudio.enabled

- import_tasks: clean.yml
  tags: [cleanup, georchestra_cleanup]
  when: cleanup is defined
