- name: create datadirs
  tags: wars
  file:
    path: "{{ item }}"
    state: directory
    owner: tomcat
    group: tomcat
  with_items:
  - "{{ geonetwork.datadir.path }}"
  - "{{ geoserver.datadir.path }}"
  - "{{ geowebcache_datadir }}"
  - "{{ extractor_datadir }}"

- include: config.yml
  tags: config

- include: sviewer.yml
  tags: sviewer

- include: war_cadastrapp.yml
  tags: cadastrapp_war
  when: cadastrapp.enabled

- include: geoserver.yml
  tags: geoserver

- include: geonetwork.yml
  tags: geonetwork

- include: wars.yml
  tags: wars

- include: datafeeder.yml
  tags: datafeeder
  when: datafeeder.enabled

- include: gn-cloud-searching.yml
  tags: gn-cloud-searching
  when: gn_cloud_searching.enabled

- include: gn-ogc-api-records.yml
  tags: gn-ogc-api-records
  when: gn_ogc_api_records.enabled

- include: nativelibs.yml
  tags: nativelibs

- include: mviewerstudio.yml
  tags: mviewerstudio
  when: mviewerstudio.enabled

- include: clean.yml
  tags: [cleanup, georchestra_cleanup]
  when: cleanup is defined
