---
- name: add georchestra repository key
  tags: apt_repo
  get_url:
    dest: /etc/apt/keyrings/psc@georchestra.org.asc
    url: "{{ georchestra.debian.key }}"

- name: Drop previous .list repo
  tags: apt_repo
  file:
    path: /etc/apt/sources.list.d/packages_georchestra_org_debian.list
    state: absent

- name: add georchestra debian repo
  tags: apt_repo
  deb822_repository:
    name: georchestra
    uris: https://packages.georchestra.org/debian
    suites: "{{ georchestra_versions.debian_repository }}"
    signed_by: /etc/apt/keyrings/psc@georchestra.org.asc
    components:
      - main

- name: install debian packages
  apt:
    pkg: "{{ item.value.pkg }}"
    update_cache: true
    state: latest # noqa: package-latest
  with_dict: "{{ georchestra_wars }}"
  when: item.value.enabled and item.key != 'cadastrapp' and item.value.pkg is defined

- name: install the wars defined by an url
  get_url:
    url: "{{ item.value.url }}"
    dest: /usr/share/lib/georchestra-{{ item.key }}.zip
    mode: "0644"
    headers:
      Authorization: Bearer {{ github_action_token }}
  with_dict: "{{ georchestra_wars }}"
  when: item.value.enabled and item.value.url is defined

- name: unzips the war
  unarchive:
    src: /usr/share/lib/georchestra-{{ item.key }}.zip
    dest: /usr/share/lib
    remote_src: true
  with_dict: "{{ georchestra_wars }}"
  when: item.value.enabled and item.value.url is defined

- name: creating symlinks for downloaded webapps
  file:
    owner: tomcat
    src: /usr/share/lib/{{ item.key }}{% if item.value.artifact_sha256 is defined %}-{{ item.value.artifact_sha256 }}{% endif %}.war
    dest: "{{ tomcat_basedir }}/{{ item.value.tomcat }}/webapps/{{ item.key }}.war"
    state: link
    force: true
  with_dict: "{{ georchestra_wars }}"
  when: item.value.enabled and item.value.url is defined

- name: removes the downloaded archive
  file:
    path: /usr/share/lib/georchestra-{{ item.key }}.zip
    state: absent
  with_dict: "{{ georchestra_wars }}"
  when: item.value.enabled and item.value.url is defined

- name: symlink webapps in each tomcat instance
  file:
    owner: tomcat
    src: /usr/share/lib/{{ item.value.pkg }}/{{ item.key }}{% if item.key != 'import' and item.key != 'geowebcache' %}-generic{% endif %}.war
    dest: "{{ tomcat_basedir }}/{{ item.value.tomcat }}/webapps/{{ item.key }}.war"
    state: link
    force: true
  with_dict: "{{ georchestra_wars }}"
  when: item.value.enabled and item.value.pkg is defined and (item.key != 'cadastrapp' or (item.key == 'cadastrapp' and cadastrapp.enabled))

# instances need to be started so that webapps are deployed
- name: start instances
  service:
    name: tomcat@{{ item }}
    state: started
  with_items: "{{ tomcat_instances | list }}"
