# Credentials to access protected layers in WFS servers
# Modify the following domain and credentials, depending on your instance
{{ georchestra.fqdn }}={{ geoserver.privileged.user }}:{{ geoserver.privileged.pass }}
# Add credentials below in case you have access to other WFS servers
localhost={{ geoserver.privileged.user }}:{{ geoserver.privileged.pass }}
