# General purposes properties

# Name of the geOrchestra instance
# default: see default.properties - uncomment to override
#instanceName=

# Language of the interface
# default: see default.properties - uncomment to override
#language=

# Header height (in px)
# default: see default.properties - uncomment to override
#headerHeight=

# Header URL (can be absolute or relative)
# default: see default.properties - uncomment to override
#headerUrl=

# PostGreSQL database name
# default: see default.properties - uncomment to override
#pgsqlDatabase=

# User to connect to PostGreSQL server
# default: see default.properties - uncomment to override
#pgsqlUser=

# Password to connect to PostGreSQL server
# default: see default.properties - uncomment to override
#pgsqlPassword=

# JDBC URL to connect to PostgreSQL server
# default: see default.properties - uncomment to override
#jdbcUrl=


# Minimum connections pool size
# default: 1
#dataSource.minPoolSize=1

# Maximum connections pool size
# default: 10
#dataSource.maxPoolSize=10

# Timeout in connections pool (ms)
# default: 2000
#dataSource.timeout=2000

# Max time unused connections are kept idle in the pool. Unit is seconds for c3p0.
# default: 60
#dataSource.maxIdleTime=60


# Directory for temporary documents
# default: /tmp
#docTempDir=/tmp

# Maximum file size the backend accepts for uploaded files
# Set to -1 to indicate no limit
# See also: https://docs.spring.io/autorepo/docs/spring-framework/3.1.0.RELEASE/javadoc-api/org/springframework/web/multipart/commons/CommonsFileUploadSupport.html#setMaxUploadSize(long)
# Complement: if you use Apache2 or nginx as a proxy server in front of geOrchestra, check if it doesn't also limit the length of the requests (possibly generating a 413 HTTP status code)
#    - in Apache2, see the LimitRequestBody property
#    - in nginx, see the client_max_body_size property
#    Note that HAProxy does not provide such an option.
# default: 8388608
#maxUploadSize=8388608

# The maximum in memory size allowed
# See also: see https://docs.spring.io/autorepo/docs/spring-framework/3.1.0.RELEASE/javadoc-api/org/springframework/web/multipart/commons/CommonsFileUploadSupport.html#setMaxInMemorySize(int)
# default:10240
#maxInMemorySize=10240
