# this takes back config/defaults/maven.filter
instance=mapfishapp
language=fr


jdbcUrl=jdbc:postgresql://localhost:5432/{{ georchestra.db.name }}?user={{ georchestra.db.user }}&password={{ georchestra.db.pass }}

docTempDir=/tmp
