{
    "servers": [
        {
            "name": "Local WFS service",
            "url": "https://{{ georchestra.fqdn }}/geoserver/wfs"
        },
        {
            "name": "GéoBretagne",
            "url": "https://geobretagne.fr/geoserver/wfs"
        }
    ]
}
