{
    "servers": [
        {
            "name": "Local WFS service",
            "url": "https://georchestra.mydomain.org/geoserver/wfs"
        },
        {
            "name": "GéoBretagne",
            "url": "https://geobretagne.fr/geoserver/wfs"
        }
    ]
}
