{
    "servers": [
        {
            "name": "Local WMTS service",
            "url": "https://{{ georchestra.fqdn }}/geoserver/gwc/service/wmts"
        },
        {
            "name": "GéoBretagne OSM",
            "url": "https://osm.geobretagne.fr/gwc01/service/wmts"
        },
        {
            "name": "GéoPicardie OSM",
            "url": "https://osm.geopicardie.fr/mapproxy/service"
        },
        {
            "name": "GéoBretagne rasters",
            "url": "https://tile.geobretagne.fr/gwc02/service/wmts"
        },
        {
            "name": "IGN GéoPortail",
            "url": "https://wxs.ign.fr/{{ georchestra.ign_api_key }}/geoportail/wmts"
        }
    ]
}
