{
    "servers": [
        {
            "name": "Local WMTS service",
            "url": "https://{{ georchestra.fqdn }}/geoserver/gwc/service/wmts"
        },
        {
            "name": "GéoBretagne OSM",
            "url": "https://osm.geobretagne.fr/gwc01/service/wmts"
        },
        {
            "name": "GéoBretagne rasters",
            "url": "https://tile.geobretagne.fr/gwc02/service/wmts"
        },
        {
            "name": "GéoPicardie OSM",
            "url": "https://osm.geopicardie.fr/mapproxy/service"
        },
        {
            "name": "IGN GéoPortail découverte",
            "url": "https://wxs.ign.fr/decouverte/geoportail/wmts"
        },
        {
            "name": "IGN GéoPortail essentiels",
            "url": "https://wxs.ign.fr/essentiels/geoportail/wmts"
        }
    ]
}
