{
    "servers": [
        {
            "name": "Local WMTS service",
            "url": "https://georchestra.mydomain.org/geoserver/gwc/service/wmts"
        },
        {
            "name": "GéoBretagne OSM",
            "url": "https://osm.geobretagne.fr/gwc01/service/wmts"
        },
        {
            "name": "GéoBretagne rasters",
            "url": "https://tile.geobretagne.fr/gwc02/service/wmts"
        },
        {
            "name": "IGN GéoPortail",
            "url": "https://wxs.ign.fr/opbnnt8s6esy6680ptjfqmwo/geoportail/wmts"
        }
    ]
}
