{
    "proxyUrl": {
        "url": "proxy/?url=",
        "useCORS": [
          "https://{{ georchestra.fqdn }}"
        ],
        "autoDetectCORS": true
    },
    "geoStoreUrl": "rest/geostore/",
    "printUrl": "pdf/info.json",
    "bingApiKey": "AhuXBu7ipR1gNbBfXhtUAyCZ6rkC5PkWpxs2MnMRZ1ZupxQfivjLCch22ozKSCAn",
    "mapquestApiKey": "__API_KEY_MAPQUEST__",
    "initialMapFilter": "",
    "ignoreMobileCss": false,
    "useAuthenticationRules": true,
    "loadAfterTheme": true,
    "userSessions": {
      "enabled": true,
      "contextOnly": true
    },
    "stylesheetUri": "",
    "header": {
      "height": {{ georchestra.header.height | default (80) }},
      "url": "{{ georchestra.header.legacyurl | default('/header/') }}",
      "script": "{{ georchestra.header.script | default ('https://cdn.jsdelivr.net/gh/georchestra/header@dist/header.js') }}",
      "legacy": {{ georchestra.header.legacy | default('false') }},
      "logoUrl": "{{ georchestra.header.logourl | default('https://www.georchestra.org/public/georchestra-logo.svg') }}",
      "stylesheet": "{{ georchestra.header.stylesheet | default('') }}",
      "configFile": "{{ georchestra.header.configfile | default('') }}"
    },
    "defaultMapOptions": {
      "cesium": {
        "flyTo": true,
        "navigationTools": true,
        "showSkyAtmosphere": true,
        "showGroundAtmosphere": false,
        "enableFog": false,
        "depthTestAgainstTerrain": false,
        "terrainProvider": {
          "type": "ellipsoid"
        }
      },
      "floatingIdentifyDelay": 1000
    },
    "authenticationRules": [{
        "urlPattern": ".*geostore.*",
        "method": "bearer"
    }, {
        "urlPattern": ".*rest/config.*",
        "method": "bearer"
    }],
    "monitorState": [
      {"name": "router", "path": "router.location.pathname"},
      {"name": "userrole", "path": "security.user.role"},
      {"name": "browser", "path": "browser"},
      {"name": "geostorymode", "path": "geostory.mode"},
      {"name": "featuregridmode", "path": "featuregrid.mode"},
      {"name": "printEnabled","path": "print.capabilities"}],
    "projectionDefs": [{
      "code": "EPSG:2154",
      "def": "+proj=lcc +lat_1=49 +lat_2=44 +lat_0=46.5 +lon_0=3 +x_0=700000 +y_0=6600000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
      "extent": [-378305.81, 6093283.21, 1212610.74, 7186901.68],
      "worldExtent": [-9.86, 41.15, 10.38, 51.56]
    }, {
      "code": "EPSG:3942",
      "def": "+proj=lcc +lat_1=41.25 +lat_2=42.75 +lat_0=42 +lon_0=3 +x_0=1700000 +y_0=1200000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
      "extent": [624506.09, 1186515.84, 2218708.44, 2290184.50],
      "worldExtent": [-9.86, 41.15, 10.38, 51.56]
    }, {
      "code": "EPSG:3943",
      "def": "+proj=lcc +lat_1=42.25 +lat_2=43.75 +lat_0=43 +lon_0=3 +x_0=1700000 +y_0=2200000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
      "extent": [624227.05, 2076993.88, 2217136.99, 3178000.51],
      "worldExtent": [-9.86, 41.15, 10.38, 51.56]
    }, {
      "code": "EPSG:3944",
      "def": "+proj=lcc +lat_1=43.25 +lat_2=44.75 +lat_0=44 +lon_0=3 +x_0=1700000 +y_0=3200000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
      "extent": [623631.35, 2967391.61, 2215750.35, 4066109.53],
      "worldExtent": [-9.86, 41.15, 10.38, 51.56]
    }, {
      "code": "EPSG:3945",
      "def": "+proj=lcc +lat_1=44.25 +lat_2=45.75 +lat_0=45 +lon_0=3 +x_0=1700000 +y_0=4200000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
      "extent": [622723.91, 3857676.97, 2214544.93, 4954472.70],
      "worldExtent": [-9.86, 41.15, 10.38, 51.56]
    }, {
      "code": "EPSG:3946",
      "def": "+proj=lcc +lat_1=45.25 +lat_2=46.75 +lat_0=46 +lon_0=3 +x_0=1700000 +y_0=5200000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
      "extent": [621509.63, 4747818.41, 2213517.21, 5843051.80],
      "worldExtent": [-9.86, 41.15, 10.38, 51.56]
    }, {
      "code": "EPSG:3947",
      "def": "+proj=lcc +lat_1=46.25 +lat_2=47.75 +lat_0=47 +lon_0=3 +x_0=1700000 +y_0=6200000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
      "extent": [619993.48, 5637784.91, 2212663.72, 6731809.22],
      "worldExtent": [-9.86, 41.15, 10.38, 51.56]
    }, {
      "code": "EPSG:3948",
      "def": "+proj=lcc +lat_1=47.25 +lat_2=48.75 +lat_0=48 +lon_0=3 +x_0=1700000 +y_0=7200000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
      "extent": [618180.54, 6527546.03, 2211981.05, 7620707.95],
      "worldExtent": [-9.86, 41.15, 10.38, 51.56]
    }, {
      "code": "EPSG:3949",
      "def": "+proj=lcc +lat_1=48.25 +lat_2=49.75 +lat_0=49 +lon_0=3 +x_0=1700000 +y_0=8200000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
      "extent": [616075.94, 7417071.95, 2211465.79, 8509711.64],
      "worldExtent": [-9.86, 41.15, 10.38, 51.56]
    }, {
      "code": "EPSG:3950",
      "def": "+proj=lcc +lat_1=49.25 +lat_2=50.75 +lat_0=50 +lon_0=3 +x_0=1700000 +y_0=9200000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
      "extent": [613684.96, 8306333.45, 2211114.59, 9398784.57],
      "worldExtent": [-9.86, 41.15, 10.38, 51.56]
    }],
    "initialState": {
      "defaultState": {
        "catalog": {
          "default": {
            "newService": {
                "url": "",
                "type": "wms",
                "title": "",
                "isNew": true,
                "autoload": false
            },
            "selectedService": "local",
            "services": {
              "local": {
                "url": "/geonetwork/srv/fre/csw",
                "type": "csw",
                "title": "Catalogue de données de la plateforme",
                "autoload": true
              },
              "localgs": {
                "url": "/geoserver/ows",
                "type": "wms",
                "title": "Service de données de la plateforme",
                "autoload": true
              },
              "gpfrasterwms": {
                "url": "https://data.geopf.fr/wms-r/wms",
                "type": "wms",
                "title": "Géoplateforme RASTER",
                "autoload": true
              },
              "gpfvectorwms": {
                "url": "https://data.geopf.fr/wms-v/wms",
                "type": "wms",
                "title": "Géoplateforme VECTOR",
                "autoload": true
              },
              "gpfwfs": {
                "url": "https://data.geopf.fr/wfs/ows",
                "type": "wfs",
                "title": "Géoplateforme WFS",
                "autoload": true
              },
              "gpfwmts": {
                "url": "https://data.geopf.fr/wmts",
                "type": "wmts",
                "title": "Géoplateforme WMTS",
                "autoload": true
              },
              "gpftms": {
                "url": "https://data.geopf.fr/tms/1.0.0/",
                "type": "tms",
                "provider":"tms",
                "title": "Géoplateforme TMS",
                "autoload": true
              },
              "gpfcsw": {
                "url": "https://data.geopf.fr/csw",
                "type": "csw",
                "title": "Géoplateforme CSW",
                "autoload": true
              },
              "sandre": {
                "url": "https://www.sandre.eaufrance.fr/atlas/srv/fre/csw",
                "type": "csw",
                "title": "Référentiels de l'Eau en France (Sandre)",
                "autoload": true
              },
              "craig": {
                "url": "https://ids.craig.fr/geocat/srv/fre/csw",
                "type": "csw",
                "title": "Région Auvergne-Rhône-Alpes",
                "autoload": true
              },
              "geobretagne": {
                "url": "https://geobretagne.fr/geonetwork/srv/fre/csw",
                "type": "csw",
                "title": "Région Bretagne",
                "autoload": true
              },
              "geo2france": {
                "url": "https://www.geo2france.fr/geonetwork/srv/fre/csw",
                "type": "csw",
                "title": "Région Hauts-de-France",
                "autoload": true
              },
              "datagrandest": {
                "url": "https://www.datagrandest.fr/geonetwork/srv/fre/csw",
                "type": "csw",
                "title": "Région Grand Est",
                "autoload": true
              }
            },
            "staticServices": {
              "default_map_backgrounds": {
                "type": "backgrounds",
                "title": "defaultMapBackgroundsServiceTitle",
                "autoload": true,
                "backgrounds": [{
                    "type": "osm",
                    "title": "Open Street Map",
                    "name": "mapnik",
                    "source": "osm",
                    "group": "background"
                }, {
                    "type": "tileprovider",
                    "title": "NASAGIBS Night 2012",
                    "provider": "NASAGIBS.ViirsEarthAtNight2012",
                    "name": "Night2012",
                    "source": "nasagibs",
                    "group": "background"
                }, {
                    "type": "tileprovider",
                    "title": "OpenTopoMap",
                    "provider": "OpenTopoMap",
                    "name": "OpenTopoMap",
                    "source": "OpenTopoMap",
                    "group": "background"
                  },
                  {
                    "source": "ol",
                    "group": "background",
                    "title": "Empty Background",
                    "fixed": true,
                    "type": "empty",
                    "visibility": false
                }]
              }
            }
          }
        },
        "locales": {
          "supportedLocales": {
            "en": {
              "code": "en-US",
              "description": "English"
            },
            "it": {
              "code": "it-IT",
              "description": "Italiano"
            },
            "fr": {
              "code": "fr-FR",
              "description": "Français"
            }
          }
        }
      }
    },
    "miscSettings": {
      "homePath": "/home"
    },
    "plugins": {
        "mobile": ["Header", "Easytheming", {
                "name": "Map",
                "cfg": {
                    "mapOptions": {
                      "openlayers": {
                        "interactions": {
                          "pinchRotate": false,
                          "altShiftDragRotate": false
                        }
                      }
                    }
                }
            }, "Version", "DrawerMenu",
            {
                "name": "BackgroundSelector",
                "cfg": {
                    "bottom": 25,
                    "dimensions": {
                    "side": 65,
                    "sidePreview": 65,
                    "frame": 3,
                    "margin": 5,
                    "label": false,
                    "vertical": true
                   }
                }
            },
            {
                "name": "Identify",
                "showIn": ["Settings"],
                "cfg": {
                    "showFullscreen": true,
                    "position": "bottom",
                    "size": 0.5,
                    "fluid": true,
                    "viewerOptions": {
                        "container": "{context.ReactSwipe}"
                    }
                }
            }, {
                "name": "Locate",
                "override": {
                    "Toolbar": {
                        "alwaysVisible": true
                    }
                }
            }, {
                "name": "TOC",
                "cfg": {
                    "activateMapTitle": false,
                    "activateSortLayer": false
                }
            }, "AddGroup", {
                "name": "TOCItemsSettings",
                "cfg": {
                    "width": 300
                }
            }, {
                "name": "Tutorial",
                "cfg": {
                    "preset": "default_mobile_tutorial"
                }
            }, {
                "name": "Settings",
                "cfg": {
                    "wrap": true
                }
            }, {
                "name": "Search",
                "cfg": {
                  "showOptions": false,
                  "withToggle": ["max-width: 768px", "min-width: 768px"]
                }
            }, {
                "name": "Toolbar",
                "id": "NavigationBar",
                "cfg": {
                    "id": "navigationBar"
                }
            }, "ZoomAll", {
                "name": "MapLoading",
                "override": {
                    "Toolbar": {
                        "alwaysVisible": true
                    }
                }
            }, {
                "name": "FullScreen",
                "override": {
                    "Toolbar": {
                        "alwaysVisible": false
                    }
                }
            }, "Login",
            "OmniBar", "BurgerMenu", "Home", "Expander",
            "FeedbackMask",
            {
              "name": "Share",
              "cfg": {
                "showAPI": false,
                "advancedSettings": {
                  "bbox": true
                }
              }
            },
            "Permalink",
            {
              "name": "MetadataExplorer",
              "cfg": {
                  "serviceTypes": [
                    { "name": "csw", "label": "CSW" },
                    { "name": "wms", "label": "WMS" },
                    { "name": "wmts", "label": "WMTS" },
                    { "name": "tms", "label": "TMS", "allowedProviders": ["OpenStreetMap", "OpenSeaMap", "Stamen"] },
                    { "name": "wfs", "label": "WFS" },
                    { "name": "3dtiles", "label": "3D Tiles" },
                    { "name": "cog", "label": "COG" },
                    { "name": "model", "label": "IFC Model" },
                    { "name": "arcgis", "label": "ArcGIS" }
                  ]
              }
          },
            "MapImport",
            "MapExport",
            "GlobeViewSwitcher"
        ],
        "desktop": [
          "Header", "Easytheming",
          "Details",
          {
            "name": "Map",
            "cfg": {
              "mapOptions": {
                "openlayers": {
                  "interactions": {
                    "pinchRotate": false,
                    "altShiftDragRotate": false
                  },
                  "attribution": {
                    "container": "#footer-attribution-container"
                  }
                },
                "leaflet": {
                  "attribution": {
                    "container": "#footer-attribution-container"
                  }
                }
              },
              "toolsOptions": {
                "scalebar": {
                  "container" : "#footer-scalebar-container"
                }
              }
            }
          }, {
              "name": "HelpLink",
              "cfg": {
                "docsUrl": "https://georchestra.readthedocs.io/"
              }
            }, "AutoMapUpdate", "DrawerMenu", "Version", "Notifications", "BackgroundSelector", {
              "name": "Annotations",
              "cfg": {
                "symbolsPath": "assets/symbols/",
                "format": "decimal",
                "defaultTextAnnotation": "New"
              }
            },
            {
              "name": "Share",
              "cfg": {
                "showAPI": false,
                "advancedSettings": {
                  "bbox": true,
                  "centerAndZoom": true
                }
              }
            },
            "Permalink",
            {
                "name": "Identify",
                "cfg": {
                    "showEdit": true,
                    "showHighlightFeatureButton": true,
                    "viewerOptions": {
                        "container": "{context.ReactSwipe}"
                    }
                },
                "override": {
                  "Toolbar": {
                    "position": 11
                  }
                }
            },
            {
                "name": "Locate",
                "override": {
                    "Toolbar": {
                        "alwaysVisible": true
                    }
                }
            },
            "FeatureEditor",
            "UserSession",
            "LayerDownload",
            {
              "name": "QueryPanel",
              "cfg": {
                  "activateQueryTool": true,
                  "spatialOperations": [
                      {"id": "INTERSECTS", "name": "queryform.spatialfilter.operations.intersects"},
                      {"id": "CONTAINS", "name": "queryform.spatialfilter.operations.contains"},
                      {"id": "WITHIN", "name": "queryform.spatialfilter.operations.within"}
                  ],
                  "spatialMethodOptions": [
                      {"id": "Viewport", "name": "queryform.spatialfilter.methods.viewport"},
                      {"id": "BBOX", "name": "queryform.spatialfilter.methods.box"},
                      {"id": "Circle", "name": "queryform.spatialfilter.methods.circle"},
                      {"id": "Polygon", "name": "queryform.spatialfilter.methods.poly"}
                  ]
              }
            }, {
            "name": "MetadataInfo",
            "cfg": {
              "metadataOptions": {
                "xmlNamespaces": {
                  "gmd": "http://www.isotc211.org/2005/gmd",
                  "srv": "http://www.isotc211.org/2005/srv",
                  "gco": "http://www.isotc211.org/2005/gco",
                  "gmx": "http://www.isotc211.org/2005/gmx",
                  "gfc": "http://www.isotc211.org/2005/gfc",
                  "gts": "http://www.isotc211.org/2005/gts",
                  "gml": "http://www.opengis.net/gml"
                },
                "extractors": [
                  {
                    "properties": {
                      "title": "/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:title/gco:CharacterString",
                      "abstract": "/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:abstract/gco:CharacterString",
                      "purpose": "/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:purpose/gco:CharacterString",
                      "source": "/gmd:MD_Metadata/gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:statement/gco:CharacterString",
                      "createdDate": "/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:date/gmd:CI_Date/gmd:date/gco:Date[../../gmd:dateType/gmd:CI_DateTypeCode[@codeListValue='creation']]",
                      "lastRevisionDate": "/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:date/gmd:CI_Date/gmd:date/gco:Date[../../gmd:dateType/gmd:CI_DateTypeCode[@codeListValue='revision']]",
                      "pointsOfContact": {
                        "xpath": "/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:pointOfContact/gmd:CI_ResponsibleParty",
                        "properties": {
                          "individualName": "gmd:individualName/gco:CharacterString",
                          "organisationName": "gmd:organisationName/gco:CharacterString",
                          "contactInfo": {
                            "xpath": "gmd:contactInfo/gmd:CI_Contact",
                            "properties": {
                              "phone": "gmd:phone/gmd:CI_Telephone/gmd:voice/gco:CharacterString",
                              "deliveryPoints": "gmd:address/gmd:CI_Address/gmd:deliveryPoint/gco:CharacterString",
                              "city": "gmd:address/gmd:CI_Address/gmd:city/gco:CharacterString",
                              "postalCode": "gmd:address/gmd:CI_Address/gmd:postalCode/gco:CharacterString",
                              "country": "gmd:address/gmd:CI_Address/gmd:country/gco:CharacterString",
                              "electronicMailAddress": "gmd:address/gmd:CI_Address/gmd:electronicMailAddress/gco:CharacterString",
                              "URL": "gmd:onlineResource/gmd:CI_OnlineResource/gmd:linkage/gmd:URL",
                              "hoursOfService": "gmd:hoursOfService/gco:CharacterString"
                            }
                          },
                          "role": "gmd:role/gmd:CI_RoleCode/@codeListValue"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }, {
                "name": "TOC"
            },
            "FilterLayer",
            "AddGroup",
            "TOCItemsSettings",
            "Tutorial", "MapFooter", {
                "name": "Measure",
                "cfg": {
                  "defaultOptions": {
                    "showAddAsAnnotation": true
                  }
                }
            }, {
              "name": "Print",
              "cfg": {
                "useFixedScales": true,
                "mapPreviewOptions": {
                  "enableScalebox": true
                },
                "outputFormatOptions": {
                  "allowedFormats": [
                    { "name": "PDF", "value": "pdf" },
                    { "name": "PNG", "value": "png" },
                    { "name": "JPG", "value": "jpg" }
                  ]
                },
                "overlayLayersOptions": {
                  "enabled": true
                }
              }
            }, "MapImport", "MapExport", {
                "name": "Settings",
                "cfg": {
                    "wrap": true
                }
            }, {
                "name": "MetadataExplorer",
                "cfg": {
                    "zoomToLayer": false,
                    "wrap": true,
                    "serviceTypes": [
                      { "name": "csw", "label": "CSW" },
                      { "name": "wms", "label": "WMS" },
                      { "name": "wmts", "label": "WMTS" },
                      { "name": "tms", "label": "TMS", "allowedProviders": ["OpenStreetMap", "OpenSeaMap", "Stamen"] },
                      { "name": "wfs", "label": "WFS" },
                      { "name": "3dtiles", "label": "3D Tiles" },
                      { "name": "cog", "label": "COG" },
                      { "name": "model", "label": "IFC Model" },
                      { "name": "arcgis", "label": "ArcGIS" }
                    ]
                }
            }, {
              "name": "MousePosition",
              "cfg": {
                "editCRS": true,
                "showLabels": true,
                "showToggle": true,
                "filterAllowedCRS": ["EPSG:4326", "EPSG:3857"],
                "additionalCRS": {}
              }
            }, {
              "name": "CRSSelector",
              "cfg": {
                "additionalCRS": {
                  "EPSG:2154": {
                    "label": "EPSG:2154"
                  },
                  "EPSG:3945": {
                    "label": "EPSG:3945"
                  },
                  "EPSG:3946": {
                    "label": "EPSG:3946"
                  },
                  "EPSG:3948": {
                    "label": "EPSG:3948"
                  }
                },
                "filterAllowedCRS": [
                  "EPSG:4326",
                  "EPSG:3857"
                ],
                "allowedRoles": [
                  "ADMIN"
                ]
              }
            }, {
                "name": "Search",
                "cfg": {
                  "withToggle": ["max-width: 768px", "min-width: 768px"]
                }
            }, {
                "name": "Toolbar",
                "id": "NavigationBar",
                "cfg": {
                    "id": "navigationBar"
                }
            },
            "ScaleBox", {
              "name":"ZoomAll",
              "override": {
                "Toolbar": {
                  "alwaysVisible": true
                }
              }
            }, {
                "name": "MapLoading",
                "override": {
                    "Toolbar": {
                        "alwaysVisible": true
                    }
                }
            }, {
                "name": "ZoomIn",
                "override": {
                    "Toolbar": {
                        "alwaysVisible": true
                    }
                }
            }, {
                "name": "ZoomOut",
                "override": {
                    "Toolbar": {
                        "alwaysVisible": true
                    }
                }
            },
            "OmniBar", "Login", "SidebarMenu", "Expander", "Undo", "Redo", "FullScreen", "GlobeViewSwitcher", "SearchServicesConfig", "WidgetsBuilder", "Widgets",
            "WidgetsTray",
            "Timeline",
            "Playback",
            "FeedbackMask",
            "StyleEditor",
            "DeleteMap",
            "Save",
            "SaveAs",
            "SearchByBookmark",
            "MapCatalog"
        ],
        "embedded": ["Details",
          {
            "name": "Map",
            "cfg": {
              "mapOptions": {
                "openlayers": {
                  "interactions": {
                    "pinchRotate": false,
                    "altShiftDragRotate": false
                  },
                  "attribution": {
                    "container": "#footer-attribution-container"
                  }
                },
                "leaflet": {
                  "attribution": {
                    "container": "#footer-attribution-container"
                  }
                }
              },
              "toolsOptions": {
                "scalebar": {
                  "container": "#footer-scalebar-container"
                }
              }
            }
          },
          {
            "name": "DrawerMenu",
            "hide": "{!(request.query && request.query.forceDrawer)}"
          },
          {
            "name": "BackgroundSelector",
            "cfg": {
              "bottom": 40,
              "dimensions": {
                "side": 65,
                "sidePreview": 65,
                "frame": 3,
                "margin": 5,
                "label": false,
                "vertical": true
              }
            }
          },
          {
            "name": "Identify",
            "cfg": {
              "showFullscreen": true,
              "position": "bottom",
              "size": 0.5,
              "fluid": true,
              "viewerOptions": {
                "container": "{context.ReactSwipe}"
              }
            }
          },
          {
            "name": "ZoomAll",
            "override": {
              "Toolbar": {
                "alwaysVisible": true
              }
            }
          },
          {
            "name": "Locate",
            "override": {
              "Toolbar": {
                "alwaysVisible": true
              }
            }
          },
          {
            "name": "TOC",
            "cfg": {
              "activateMapTitle": false,
              "activateRemoveLayer": false
            }
          },
          "AddGroup",
          "MapFooter",
          {
            "name": "Settings",
            "cfg": {
              "wrap": true
            }
          },
          {
            "name": "Search",
            "cfg": {
              "showOptions": false,
              "withToggle": [
                "max-width: 768px",
                "min-width: 768px"
              ]
            }
          },
          {
            "name": "Toolbar",
            "id": "NavigationBar",
            "cfg": {
              "id": "navigationBar"
            }
          },
          {
            "name": "MapLoading",
            "override": {
              "Toolbar": {
                "alwaysVisible": true
              }
            }
          },
          "OmniBar",
          {
            "name": "GoFull",
            "override": {
              "Toolbar": {
                "alwaysVisible": true
              }
            }
          },
          "FeedbackMask"
        ],
        "common": [],
      "maps": [
        "Login",
        "HomeDescription", "Fork",
        "MapSearch",
        "CreateNewMap",
        "FeaturedMaps", "ContentTabs",
        {
          "name": "Header",
          "cfg": {
            "page": "mapstore-home"
          }
        },
        {
          "name": "Maps",
          "cfg": {
            "mapsOptions": {
              "start": 0,
              "limit": 12
            },
            "fluid": true
          }
        },
        {
          "name": "Dashboards",
          "cfg": {
            "mapsOptions": {
              "start": 0,
              "limit": 12
            },
            "fluid": true
          }
        },
        {
          "name": "GeoStories",
          "cfg": {
            "mapsOptions": {
              "start": 0,
              "limit": 12
            },
            "fluid": true
          }
        },
        {
          "name": "Contexts",
          "cfg": {
            "mapsOptions": {
              "start": 0,
              "limit": 12
            },
            "fluid": true
          }
        }],
      "dashboard": [
        {
          "name": "OmniBar",
          "cfg": {
            "containerPosition": "header",
            "className": "navbar shadow navbar-home"
          }
        },
        "Details",
        "AddWidgetDashboard",
        "MapConnectionDashboard",
        {
          "name": "SidebarMenu",
          "cfg": {
            "containerPosition": "columns"
          }
        },
        {
          "name": "Home",
          "override": {
            "OmniBar": {
              "priority": 5
            }
          }
        },
        {
          "name": "Login",
          "override": {
            "OmniBar": {
              "priority": 5
            }
          }
        },
        "Language", "NavMenu",
        "DashboardSave", "DashboardSaveAs",
        "DashboardExport", "DashboardImport",
        "DeleteDashboard",
        "Attribution", {
        "name": "Share",
        "cfg": {
          "showAPI": false,
          "advancedSettings": false,
          "shareUrlRegex": "(h[^#]*)#\\/dashboard\\/([A-Za-z0-9]*)",
          "shareUrlReplaceString": "$1dashboard-embedded.html#/$2",
          "embedOptions": {
            "showTOCToggle": false,
            "showConnectionsParamToggle": true,
            "allowFullScreen": false,
            "sizeOptions": {
              "Small": { "width": 600, "height": 500 },
              "Medium": { "width": 800, "height": 600},
              "Large": { "width": 1000, "height": 800},
              "Custom": {"width": 0, "height": 0}
            },
            "selectedOption": "Small"
          }
        }
      },
      "Permalink",
        {
          "name": "DashboardEditor",
          "cfg": {
            "selectedService": "localgs",
            "services": {
              "localgs": {
                "url": "/geoserver/wms",
                "type": "wms",
                "title": "le geoserver local",
                "autoload": true
              }
            },
            "containerPosition": "columns"
          }
        }, {
          "name": "QueryPanel",
          "cfg": {
            "toolsOptions": {
              "hideCrossLayer": true,
              "hideSpatialFilter": true
            },
            "containerPosition": "columns"
          }
        }, "Dashboard", "Notifications", {
          "name": "Tutorial",
          "cfg": {
            "allowClicksThruHole": false,
            "containerPosition": "header",
            "preset": "dashboard_tutorial"
          }
        },
        {
          "name": "FeedbackMask",
          "cfg": {
            "containerPosition": "header"
          }
        }],
      "dashboard-embedded": [
        {
          "name": "Dashboard",
          "cfg": {
            "minLayoutWidth": 768
          }
        },
        { "name": "FeedbackMask" }
      ],
      "geostory": [
        {
          "name": "OmniBar",
          "cfg": {
            "containerPosition": "header",
            "className": "navbar shadow navbar-home"
          }
        },
        {
          "name": "Tutorial",
          "cfg": {
            "allowClicksThruHole": false,
            "containerPosition": "header",
            "preset": "geostory_view_tutorial"
          }
        },
        "Login",
        "BurgerMenu",
        "Language",
        "NavMenu",
        "Attribution",
        "Home",
        {
          "name": "GeoStory"
        },
        "GeoStorySave",
        "GeoStorySaveAs",
        "GeoStoryImport",
        "GeoStoryExport",
        "DeleteGeoStory",
        "MapEditor",
        "MediaEditor",
        {
          "name": "GeoStoryEditor",
          "cfg": {
            "disablePluginIf": "{!!(state('browser') && state('browser').mobile)}",
            "containerPosition": "columns"
          }
        },
        {
          "name": "GeoStoryNavigation",
          "cfg": {
            "containerPosition": "header"
          }
        },
        "Notifications",
        {
          "name": "FeedbackMask",
          "cfg": {
            "containerPosition": "header"
          }
        },
        {
          "name": "Share",
          "cfg": {
            "embedPanel": true,
            "showAPI": false,
            "embedOptions": {
              "showTOCToggle": false,
              "allowFullScreen":false
            },
            "shareUrlRegex": "(h[^#]*)#\\/geostory\\/([^\\/]*)\\/([A-Za-z0-9]*)",
            "shareUrlReplaceString": "$1geostory-embedded.html#/$3",
            "advancedSettings": {
              "hideInTab": "embed",
              "homeButton": true,
              "sectionId": true
            }
          }
        },
        "Permalink"
      ],
      "geostory-embedded": [
        "GeoStory",
        {
          "name": "GeoStoryNavigation",
          "cfg": {
            "containerPosition": "header"
          }
        },
        {
          "name": "FeedbackMask",
          "cfg": {
            "containerPosition": "header"
          }
        }
      ],
      "permalink": [
        "Permalink",
        "FeedbackMask"
      ],
      "admin": [{
        "name": "Header",
          "cfg": {
            "page": "msadmin"
          }
        }, {
        "name": "OmniBar",
        "cfg": {
          "className": "navbar shadow navbar-home"
        }
      }, "Login", "ContextManager"],
      "notallowed": [{
          "name": "Header",
          "cfg": {
            "page": "msadmin"
          }
        },
        {
          "name": "OmniBar",
          "cfg": {
            "className": "navbar shadow navbar-home"
          }
        },
        "Login",
        "NotAllowed"
      ],
      "context-creator": [
          {
            "name": "Header",
            "cfg": {
              "page": "msadmin"
            }
          },
          {
            "name": "OmniBar",
            "cfg": {
              "containerPosition": "header",
              "className": "navbar shadow navbar-home"
            }
          },
          "Login",
          "Language",
          "NavMenu",
          "Attribution",
          "Tutorial",
          {
            "name": "ContextCreator",
            "cfg": {
              "documentationBaseURL": "https://mapstore.geo-solutions.it/mapstore/docs/api/plugins",
              "saveDestLocation": "/admin",
              "backToPageDestRoute": "/admin"
            }
          },
          "Notifications",
          {
            "name": "FeedbackMask",
            "cfg": {
              "containerPosition": "header"
            }
          },
          "ContextImport",
          "ContextExport"
        ],
        "context": [
          "Header", "Easytheming"
        ]
    }
}
