{% for f in georchestra_wars %}
{% if georchestra_wars[f].tomcat != 'proxycas' %}
{{ f }}=http://localhost:{{ tomcat_instances[georchestra_wars[f].tomcat]['port']}}/{{ f }}/
{% endif %}
{% endfor %}
{% if datafeeder.enabled %}
datafeeder=http://localhost:{{ datafeeder.port }}/datafeeder/
{% endif %}
{% if mviewer.enabled %}
mviewer=http://localhost:{{ mviewer.port }}/
{% endif %}
{% if mviewerstudio.enabled %}
mviewerstudio=http://localhost:{{ mviewerstudio.port }}/
{% endif %}
