{% for f in georchestra_wars %}
{% if georchestra_wars[f].tomcat != 'proxycas' %}
{{ f }}=http://localhost:{{ tomcat_instances[georchestra_wars[f].tomcat]['port']}}/{{ f }}/
{% endif %}
{% endfor %}
{% if datafeeder.enabled %}
datafeeder=http://localhost:{{ datafeeder.port }}/datafeeder/
{% endif %}
{% if gn_ogc_api_records.enabled %}
ogc-api-records=http://localhost:{{ gn_ogc_api_records.port }}/ogc-api-records
{% endif %}
