other_schemas: [ mapfishapp, console, geofence, ogcstatistics, atlas, extractorapp, mapstore ]
other_schemas_urls:
  - https://raw.github.com/georchestra/georchestra/master/postgresql/020-mapfishapp.sql
  - https://raw.github.com/georchestra/georchestra/master/postgresql/040-console.sql
  - https://raw.github.com/georchestra/georchestra/master/postgresql/050-ogc-server-statistics.sql
  - https://raw.github.com/georchestra/georchestra/master/postgresql/060-atlas.sql
  - https://raw.github.com/georchestra/georchestra/master/postgresql/080-geofence.sql
  - https://raw.github.com/georchestra/georchestra/master/postgresql/090-extractorapp.sql
  - https://raw.github.com/georchestra/georchestra/master/postgresql/110-mapstore.sql
cadastrappsql: {
  tmpdir: /tmp/cadastrapp/sql,
  views: [
    { script: qgisCommune, view: commune },
    { script: qgisHabitationDetails, view: deschabitation },
    { script: qgisParcelle, view: parcelle },
    { script: qgisProprietaire, view: proprietaire },
    { script: qgisProprietaireParcelle, view: proprietaire_parcelle },
    { script: qgisCoProprieteParcelle, view: co_propriete_parcelle },
    { script: qgisProprieteBatie, view: proprietebatie },
    { script: qgisProprieteNonBatie, view: proprietenonbatie },
    { script: qgisProprieteNonBatieSufExo, view: proprietenonbatiesufexo },
    { script: qgisLot, view: lot },
    { script: qgisSection, view: section } ],
  tables: [
    { script: groupe_autorisation, path: commun/user },
    { script: uf_parcelle, path: qgis/tables },
    { script: request_information, path: commun/tables },
    { script: prop_ccodem, path: commun/tables },
    { script: prop_ccodro, path: commun/tables },
    { script: prop_ccoqua, path: commun/tables },
    { script: prop_ccogrm, path: commun/tables },
    { script: prop_dmatgm, path: commun/tables },
    { script: prop_dmatto, path: commun/tables },
    { script: prop_dnatpr, path: commun/tables },
    { script: prop_type_filiation, path: commun/tables },
    { script: prop_ccocac, path: commun/tables },
    { script: prop_ccocac_simple, path: commun/tables } ],
  indexes: [ { script: index, index: idxcommunelibcom } ]
}
