# Name of the CAS server
# This property is required and has no default value. Do not comment
# This property SHOULD be let unmodified. If you need to modify the URL, see
# "publicURL" in default.properties.
server.name=${scheme}://${domainName}

# Prefix of the CAS server
# This property is required and has no default value. Do not comment
# This property SHOULD be let unmodified. If you need to modify the URL, see
# "publicURL" in default.properties.
server.prefix=${scheme}://${domainName}/cas

# General purposes properties

# Name of the geOrchestra instance
# default: see default.properties - uncomment to override
#instanceName=

# Header height (in px)
# default: see default.properties - uncomment to override
#headerHeight=

# Header URL (can be absolute or relative)
# default: see default.properties - uncomment to override
#headerUrl=

# LDAP server domain name
# default: see default.properties - uncomment to override
#ldapHost=

# LDAP server port
# default: see default.properties - uncomment to override
#ldapPort=

# Base DN of the LDAP directory
# default: see default.properties - uncomment to override
#ldapBaseDn=

# Administrator DN
# default: see default.properties - uncomment to override
#ldapAdminDn=

# Administrator password
# default: see default.properties - uncomment to override
#ldapAdminPassword=

# Users RDN
# default: see default.properties - uncomment to override
#ldapUsersRdn=

# Roles RDN
# default: see default.properties - uncomment to override
#ldapRolesRdn=


# IP address or CIDR subnet allowed to access the /status URI of CAS that
# exposes health check information
# default: 127.0.0.1
#cas.securityContext.status.allowedSubnet=127.0.0.1

# Context path of the console application
# default: /console
#console.contextpath=/console

# CAS theme name
# default: cas-theme-default
#cas.themeResolver.defaultThemeName=cas-theme-default

# CAS default basename for ResourceBundleViewResolver
# see https://github.com/georchestra/georchestra/blob/18.12/cas-server-webapp/src/main/resources/default_views.properties
# default: default_views
#cas.viewResolver.basename=default_views

# Unique CAS node name
# host.name is used to generate unique Service Ticket IDs and SAMLArtifacts.  This is usually set to the specific
# hostname of the machine running the CAS node, but it could be any label so long as it is unique in the cluster.
# default: ${domainName}
#host.name=${domainName}


# Filter to search users in LDAP
# default: (uid={user})
#ldap.authn.searchFilter=(uid={user})

# Filter to search roles in LDAP
# default: (member=uid={1},${ldapUsersRdn},${ldapBaseDn})
#ldap.authn.roleSearchFilter=(member=uid={1},${ldapUsersRdn},${ldapBaseDn})

# LDAP attribute that characterizes a role
# default: cn
#ldap.authn.roleRoleAttribute=cn

# See http://www.ldaptive.org/ for information about ldap parameters
# default: 30000
#ldap.connectTimeout=30000

# default: false
#ldap.useStartTLS=false

# default: 3
#ldap.pool.minSize=3

# default: 10
#ldap.pool.maxSize=10

# default: false
#ldap.pool.validateOnCheckout=false

# default: false
#ldap.pool.validatePeriodically=false

# default: 1800
#ldap.pool.validatePeriod=1800

# default: 300
#ldap.pool.prunePeriod=300

# default: 600
#ldap.pool.idleTime=600

# default: 0
#ldap.pool.blockWaitTime=0
