VECTOR_CONFIG=/etc/georchestra/analytics/vector.yml
TSDB_USER={{ analytics.db.user }}
TSDB_PASSWORD={{ analytics.db.pass }}
TSDB_HOST={{ analytics.db.host }}
TSDB_PORT=5432
TSDB_NAME={{ analytics.db.name }}
