#updated by config's GenerateConfig class
#Tue Jan 13 11:17:13 CET 2015
servicesUrl=http\://localhost\:{{ tomcat_instances['georchestra']['port'] }}/geofence/remoting/RuleReader
instanceName=default-gs
allowDynamicStyles=true
allowRemoteAndInlineLayers=true
