dlJdbcUrlOGC=jdbc:postgresql://localhost:5432/{{ georchestra_dbname }}?user={{ georchestra_dbuser }}&password={{ georchestra_dbpass }}
dlJdbcUrlDLForm=jdbc:postgresql://localhost:5432/{{ georchestra_dbname }}?user={{ georchestra_dbuser }}&password={{ georchestra_dbpass }}
