## Configuration file for cadastrapp

## Two modes are available on this addons
## 0 - All user, even connected user can search in any commune in database 
##     (result with CNIL authorization > 0 will be filtered)
## 1 - Connected user can only search and view result on their geographical limitation, 
##     not connected user can search without geographical limitation (result with CNIL authorization > 0 will be filtered)
##     (see https://github.com/GFI-Informatique/cadastrapp/blob/master/script/commun/user/README.md)
user.search.are.filtered=1

# Database schema name
schema.name={{ cadastrapp.db.schema }}

## CNIL ROLE NAME for ldap group. Only Cnil 1 and Cnil 2 make some limitation
cnil1RoleName=ROLE_EL_CAD_CNIL1
cnil2RoleName=ROLE_EL_CAD_CNIL2

## Separator in sec-roles http header,
# before version 15.06 of georchestra sec-roles are separated by a , after it's a ;
roleSeparator=;

## Min char number that is required to make a search in database
## in link with the min char in combox need before calling webapp
minNbCharForSearch=5

# PDF generation
pdf.imageHeight=550
pdf.imageWidth=550
pdf.dateValiditeDonneesMajic=01/01/2016
pdf.dateValiditeDonneesEDIGEO=01/01/2016
pdf.organisme=Un service du CRAIG

## Use to create image for pdf on server side (could be use for client configuration as well)
## if baseMap URL is empty no image will be added in pdf
#baseMap.wms.url=http://osm.geobretagne.fr/service/wms?VERSION=1.1.1&Request=GetCapabilities&Service=WMS
baseMap.wms.url=
baseMap.layer.name=osm:roads
baseMap.format=image/png
baseMap.SRS=EPSG:3857
# only used when wms service need authentification
# if empty no authentification is used
baseMap.wms.username=
baseMap.wms.password=

## information about WMS and WFS service
# Here you can configure the layer name and with field contains the parcelle Id depending if you are on Qgis or Arcopole model
cadastre.wms.url=https://{{ georchestra.fqdn }}/geoserver/wms
cadastre.wms.layer.name=qgis:parcelle_bati
# only used when wms service need authentification
# if empty no authentification is used
cadastre.wms.username=
cadastre.wms.password=

cadastre.wfs.url=https://{{ georchestra.fqdn }}/geoserver/wfs
cadastre.wfs.layer.name=qgis:geo_parcelle
# only used when wfs service need authentification
# if empty no authentification is used
# if authentification is used make sure to use https service with certificate declared in tomcat
cadastre.wfs.username=
cadastre.wfs.password=


## use in the addon to check WFS fieldname to be search
cadastre.layer.idParcelle=geo_parcelle
cadastre.format=image/png
cadastre.SRS=EPSG:3857

## used in inner call service to create image for pdf from fo file
# This service does need to go throw the security proxy
webapp.url.services=http://localhost:{{ tomcat_instances[georchestra_wars['ROOT'].tomcat]['port'] }}/cadastrapp/services/

## Temp folder with write acces to create image and temporary files needed for pdf generation
## This folder should be writtable by tomcat user
tempFolder={{ cadastrapp.workdir }}

# Minimum string length to be tested before trying to launch service
parcelleId.length=14
cgoCommune.length=6

# Maximun number of object request 
maxRequest=8


