<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.georchestra.cadastrapp" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	
	<!--  database -->
	<logger name="org.hibernate.SQL" level="INFO" />	
	<logger name="org.hibernate.type" level="INFO" />	
	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO" />
	
	<!--  services -->
	<logger name="org.apache.cxf" level="WARN" />
	
	<!--  pdf generation -->
	<logger name="org.apache.xmlgraphics" level="WARN" />
	<logger name="org.apache.fop" level="WARN" />
	
	<!-- image generation -->
	<logger name="org.geotools" level="WARN" />
	<logger name="com.vividsolutions.jts" level="WARN" />
	
	<!-- purge trace with quartz -->
	<logger name="org.quartz.core.QuartzSchedulerThread" level="WARN" />

	<!-- swagger info --> 
	<logger name="springfox.documentation" level="WARN" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>/tmp/cadastrapp.log</file>
		<encoder>
			<pattern>%d [%thread] %-5level /%X{uri} - %X{sec-username:-nouser} - %X{sec-roles:-norole} - %X{sec-org:-noorg} -%logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>
</configuration>