# {{ ansible_managed }}
{% if item.dest != '_static' %}
RewriteRule ^/{{ item.dest }}$ /{{ item.dest }}/ [R]
{% endif %}
{% if item.dest == 'extractorapp' %}
RewriteRule ^/extractorapp/admin$ /extractorapp/admin/ [R]
{% endif %}
{% if item.dest == 'ldapadmin' %}
RewriteRule ^/ldapadmin/privateui$ /ldapadmin/privateui/ [R]
{% endif %}
{% if item.dest == 'proxy' %}
ProxyPass /casfailed.jsp http://localhost:{{ tomcat_instances['proxycas']['port'] }}/casfailed.jsp
ProxyPassReverse /casfailed.jsp http://localhost:{{ tomcat_instances['proxycas']['port'] }}/casfailed.jsp

ProxyPass /j_spring_cas_security_check http://localhost:{{ tomcat_instances['proxycas']['port'] }}/j_spring_cas_security_check 
ProxyPassReverse /j_spring_cas_security_check http://localhost:{{ tomcat_instances['proxycas']['port'] }}/j_spring_cas_security_check

ProxyPass /j_spring_security_logout http://localhost:{{ tomcat_instances['proxycas']['port'] }}/j_spring_security_logout 
ProxyPassReverse /j_spring_security_logout http://localhost:{{ tomcat_instances['proxycas']['port'] }}/j_spring_security_logout

ProxyPass /gateway http://localhost:{{ tomcat_instances['proxycas']['port'] }}/gateway
ProxyPassReverse /gateway http://localhost:{{ tomcat_instances['proxycas']['port'] }}/gateway

ProxyPass /testPage http://localhost:{{ tomcat_instances['proxycas']['port'] }}/testPage
ProxyPassReverse /testPage http://localhost:{{ tomcat_instances['proxycas']['port'] }}/testPage

SetEnvIf Referer "^https://{{ georchestra.fqdn|replace('.','\.') }}/" mysdi
{% endif %}
<Proxy http://localhost:{{ tomcat_instances['proxycas']['port'] }}/{{ item.dest }}/*>
{% if item.dest != 'proxy' %}
    Require all granted
{% else %}
    Require env mysdi
{% endif %}
</Proxy>
{% if item.dest == 'geoserver' %}
<Location /geoserver>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</Location>
{% endif %}
ProxyPass /{{ item.dest }}/ http://localhost:{{ tomcat_instances['proxycas']['port'] }}/{{ item.dest }}/
ProxyPassReverse /{{ item.dest }}/ http://localhost:{{ tomcat_instances['proxycas']['port'] }}/{{ item.dest }}/
