# {{ ansible_managed }}
{% if item.dest != '_static' %}
RewriteRule ^/{{ item.dest }}$ /{{ item.dest }}/ [R]
{% endif %}
{% if item.dest == 'extractorapp' %}
RewriteRule ^/extractorapp/admin$ /extractorapp/admin/ [R]
{% endif %}
{% if item.dest == 'ldapadmin' %}
RewriteRule ^/ldapadmin/privateui$ /ldapadmin/privateui/ [R]
{% endif %}
{% if item.dest == 'proxy' %}
ProxyPass /casfailed.jsp http://localhost:{{ item.port }}/casfailed.jsp
ProxyPassReverse /casfailed.jsp http://localhost:{{ item.port }}/casfailed.jsp

ProxyPass /j_spring_cas_security_check http://localhost:{{ item.port }}/j_spring_cas_security_check 
ProxyPassReverse /j_spring_cas_security_check http://localhost:{{ item.port }}/j_spring_cas_security_check

ProxyPass /j_spring_security_logout http://localhost:{{ item.port }}/j_spring_security_logout 
ProxyPassReverse /j_spring_security_logout http://localhost:{{ item.port }}/j_spring_security_logout

ProxyPass /gateway http://localhost:{{ item.port }}/gateway
ProxyPassReverse /gateway http://localhost:{{ item.port }}/gateway

ProxyPass /testPage http://localhost:{{ item.port }}/testPage
ProxyPassReverse /testPage http://localhost:{{ item.port }}/testPage

SetEnvIf Referer "^http://{{ georchestra_fqdn|replace('.','\.') }}/" mysdi
{% endif %}
<Proxy http://localhost:{{ item.port }}/{{ item.dest }}/*>
    Order deny,allow
{% if item.dest != 'proxy' %}
    Allow from all
{% else %}
    Deny from all
    Allow from env=mysdi
{% endif %}
</Proxy>
{% if item.dest == 'geoserver' %}
<Location /geoserver>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</Location>
{% endif %}
ProxyPass /{{ item.dest }}/ http://localhost:{{ item.port }}/{{ item.dest }}/
ProxyPassReverse /{{ item.dest }}/ http://localhost:{{ item.port }}/{{ item.dest }}/
