# {{ ansible_managed }}
{% if item.dest == 'proxy' %}

# Comments to acces to georchestra apache htdocs
ProxyPass / http://localhost:{{ tomcat_instances['proxycas']['port'] }}/
ProxyPassReverse / http://localhost:{{ tomcat_instances['proxycas']['port'] }}/

ProxyPass /casfailed.jsp http://localhost:{{ tomcat_instances['proxycas']['port'] }}/casfailed.jsp
ProxyPassReverse /casfailed.jsp http://localhost:{{ tomcat_instances['proxycas']['port'] }}/casfailed.jsp

ProxyPass /login/cas http://localhost:{{ tomcat_instances['proxycas']['port'] }}/login/cas
ProxyPassReverse /login/cas http://localhost:{{ tomcat_instances['proxycas']['port'] }}/login/cas

ProxyPass /logout http://localhost:{{ tomcat_instances['proxycas']['port'] }}/logout
ProxyPassReverse /logout http://localhost:{{ tomcat_instances['proxycas']['port'] }}/logout

ProxyPass /gateway http://localhost:{{ tomcat_instances['proxycas']['port'] }}/gateway
ProxyPassReverse /gateway http://localhost:{{ tomcat_instances['proxycas']['port'] }}/gateway

ProxyPass /testPage http://localhost:{{ tomcat_instances['proxycas']['port'] }}/testPage
ProxyPassReverse /testPage http://localhost:{{ tomcat_instances['proxycas']['port'] }}/testPage

SetEnvIf Referer "^https://{{ georchestra.fqdn|replace('.','\.') }}/" mysdi
{% endif %}
<Proxy http://localhost:{{ tomcat_instances['proxycas']['port'] }}/{{ item.dest }}/*>
{% if item.dest != 'proxy' %}
    Require all granted
{% else %}
    Require env mysdi
{% endif %}
</Proxy>
{% if item.dest == 'geoserver' %}
<Location /geoserver>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
{% if force_https %}
  RequestHeader set "X-Forwarded-Proto" "https"
{% endif %}
</Location>
{% endif %}
ProxyPass /{{ item.dest }}/ http://localhost:{{ tomcat_instances['proxycas']['port'] }}/{{ item.dest }}/
ProxyPassReverse /{{ item.dest }}/ http://localhost:{{ tomcat_instances['proxycas']['port'] }}/{{ item.dest }}/
