<VirtualHost *:80>
     ServerName {{ georchestra.fqdn }}
     DocumentRoot /var/www/georchestra/htdocs
     LogLevel warn
     ErrorLog /var/www/georchestra/logs/error.log
     CustomLog /var/www/georchestra/logs/access.log "combined"
     Include /var/www/georchestra/conf/*.conf
     ServerSignature Off
{% if force_https %}
     RewriteCond %{HTTPS} off
     RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
{% endif %}
</VirtualHost>
<VirtualHost *:443>
     ServerName {{ georchestra.fqdn }}
     DocumentRoot /var/www/georchestra/htdocs
     LogLevel warn
     ErrorLog /var/www/georchestra/logs/error.log
     CustomLog /var/www/georchestra/logs/access.log "combined"
     Include /var/www/georchestra/conf/*.conf
     SSLEngine On
     SSLCertificateFile /var/www/georchestra/ssl/georchestra.crt
     SSLCertificateKeyFile /var/www/georchestra/ssl/georchestra.key
     SSLCACertificateFile /etc/ssl/certs/ca-certificates.crt
     ServerSignature Off
</VirtualHost>
