<Proxy http://localhost:{{ gn_cloud_searching.port }}/portal/*>
    Require all granted
</Proxy>

# I'd have like to be more generic than that, but it
# already took me ages to find out how to do a simple
# proxypass with Apache2.
# (I tried with LocationMatch & a regex with no luck in
# an acceptable amount of time).

<Location /geonetwork/srv/fre/rss.search>
  ProxyPass http://localhost:{{ gn_cloud_searching.port }}/portal/api/search/records/rss.search
  Header set  Content-Type "application/rss+xml; charset=utf-8"

  # For an obscure reason, if the Accept-Encoding header is set to "gzip,deflate"
  # then the microservices is returning an empty response.
  RequestHeader unset Accept-Encoding
</Location>

<Location /geonetwork/srv/eng/rss.search>
  ProxyPass http://localhost:{{ gn_cloud_searching.port }}/portal/api/search/records/rss.search
  Header set  Content-Type "application/rss+xml; charset=utf-8"
  RequestHeader unset Accept-Encoding
</Location>
