- name: ensure GPG is installed
  apt:
    name: gpg
    state: present

- name: add adoptopenjdk repository key
  tags: java
  apt_key:
    url: https://adoptopenjdk.jfrog.io/adoptopenjdk/api/gpg/key/public

- name: add adoptopenjdk debian repo (bullseye)
  tags: java
  apt_repository:
    repo: "deb https://adoptopenjdk.jfrog.io/adoptopenjdk/deb/ bullseye main"
  when: ansible_distribution_release == "bullseye"

- name: install java runtimes from adoptopenjdk (bullseye)
  tags: java
  apt:
    pkg: adoptopenjdk-11-hotspot
    default_release: bullseye
    update_cache: yes
    state: latest
  when: ansible_distribution_release == "bullseye"

- name: default to adoptopenjdk11
  tags: java
  alternatives:
    name: java
    path: /usr/lib/jvm/adoptopenjdk-11-hotspot-amd64/bin/java

- name: installing dependencies
  apt:
    pkg: ['tomcat9', 'tomcat9-user', 'libservlet3.1-java', 'libtcnative-1', 'unzip'] #libservlet cf debian bug 867147
    state: present
    update_cache: yes
# tomcat9-user #needed for tomcat9-create-instance
# libservlet3.1-java #debian bug 867147
# libtcnative-1 #APR native libs
# unzip needed for unzipping artifacts from github actions
- name: disable default instance
  service:
    name: tomcat9
    state: stopped
    enabled: no

- name: template tmpfiles.d for pidfile
  tags: systemd_unit
  template:
    src: tomcat.conf.j2
    dest: /etc/tmpfiles.d/tomcat.conf
  register: tomcat_piddir

- name: add fqdn to /etc/hosts
  lineinfile:
    dest: /etc/hosts
    line: "127.0.0.1 {{ georchestra.fqdn }}"

- name: create temp dir
  tags: systemd_unit
  command: systemd-tmpfiles  --prefix=/run/tomcat --create
  when: tomcat_piddir.changed

- name: template systemd unit
  tags: systemd_unit
  template:
    src: tomcat.service.j2
    dest: /etc/systemd/system/tomcat@.service

- name: reload systemd so that it finds the new unit
  tags: systemd_unit
  systemd:
    daemon-reload: yes
    name: tomcat@.service

- name: disable assistive_technologies (requires non-headless jdk)
  lineinfile:
    dest: /etc/java-8-openjdk/accessibility.properties
    line: 'assistive_technologies=org.GNOME.Accessibility.AtkWrapper'
    state: absent

- name: create tomcat_basedir
  file:
    name: "{{ tomcat_basedir }}"
    state: directory

- name: create common logdir
  file:
    path: "{{ logs_basedir }}"
    state: directory
    owner: tomcat
    group: tomcat
