- name: create instance {{ item.key }}
  command: tomcat9-instance-create -p {{ item.value.port }} -c {{ item.value.control_port }} {{ tomcat_basedir }}/{{ item.key }} creates={{ tomcat_basedir }}/{{ item.key }}
  with_dict: "{{ tomcat_instances }}"

- name: symlink policy.d dir
  file:
    src: /etc/tomcat9/policy.d/
    dest: "{{ tomcat_basedir }}/{{ item.key }}/conf/policy.d"
    state: link
  with_dict: "{{ tomcat_instances }}"

- name: recursively fix dirs ownership
  file:
    name: "{{ tomcat_basedir }}/{{ item.0 }}/{{ item.1 }}"
    state: directory
    recurse: yes
    owner: tomcat
  with_nested:
    - "{{ tomcat_instances.keys() }}"
    - [ logs, temp, conf, work, webapps ]

- name: install instance config in /etc/default
  template:
    src: "config-{{ item.key }}.j2"
    dest: "/etc/default/tomcat-{{ item.key }}"
  with_dict: "{{ tomcat_instances }}"

- name: install instance connector
  template:
    src: "server-{{ item.key }}.xml.j2"
    dest: "{{ tomcat_basedir }}/{{ item.key }}/conf/server.xml"
  with_dict: "{{ tomcat_instances }}"

- name: enable instance
  systemd:
    name: "tomcat@{{ item.key }}"
    enabled: yes
  with_dict: "{{ tomcat_instances }}"
