-----BEGIN CERTIFICATE-----
MIIEuTCCA6GgAwIBAgIRANa6QQzK22jwtOM1f4ZJ8xYwDQYJKoZIhvcNAQELBQAw
ZDELMAkGA1UEBhMCTkwxFjAUBgNVBAgTDU5vb3JkLUhvbGxhbmQxEjAQBgNVBAcT
CUFtc3RlcmRhbTEPMA0GA1UEChMGVEVSRU5BMRgwFgYDVQQDEw9URVJFTkEgU1NM
IENBIDIwHhcNMTUwNTI3MDAwMDAwWhcNMTgwNTI2MjM1OTU5WjBNMSEwHwYDVQQL
ExhEb21haW4gQ29udHJvbCBWYWxpZGF0ZWQxKDAmBgNVBAMTH2dlb3JjaGVzdHJh
LW1zaGUudW5pdi1mY29tdGUuZnIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
AoIBAQDCjgwWAAgWErr3e7DR7rcripLZUbcxBZKLbGA0prHmtf7XWRFQDs+5RaPW
ruey9S/6PE13Ki0WkHHRSfYl3n6m3iWFjM2wXH5ST4MOS0/vl+LCfhkeZ+gfyAXU
3Al06uhT08v1Vk3dKbZmdbdpqXLoI6Nf9DQAUp/KKz/nkFhgwaBgum/snhUoNjfo
2Ew2I0dwHf+rmUJupwyubfYOeaPN/KmQKHb3SQm+i8IXxBvt7Q46TX0u6WBbX3m2
xHUaE8bsHcvwwX/CtHNCR2snXDtc3otwhnb19SNTv8tPRBWX4X5i7xeCdWdT8MhO
ixmeni1dONwB6DcxQHSXcjr+1K+jAgMBAAGjggF7MIIBdzAfBgNVHSMEGDAWgBRb
0IocmjJb4LXdllQb4YYosP22vTAdBgNVHQ4EFgQUmj5xPF77piJ0ZjG7ZoTdsAdJ
OH4wDgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAwHQYDVR0lBBYwFAYIKwYB
BQUHAwEGCCsGAQUFBwMCMCIGA1UdIAQbMBkwDQYLKwYBBAGyMQECAh0wCAYGZ4EM
AQIBMDoGA1UdHwQzMDEwL6AtoCuGKWh0dHA6Ly9jcmwudXNlcnRydXN0LmNvbS9U
RVJFTkFTU0xDQTIuY3JsMGwGCCsGAQUFBwEBBGAwXjA1BggrBgEFBQcwAoYpaHR0
cDovL2NydC51c2VydHJ1c3QuY29tL1RFUkVOQVNTTENBMi5jcnQwJQYIKwYBBQUH
MAGGGWh0dHA6Ly9vY3NwLnVzZXJ0cnVzdC5jb20wKgYDVR0RBCMwIYIfZ2VvcmNo
ZXN0cmEtbXNoZS51bml2LWZjb210ZS5mcjANBgkqhkiG9w0BAQsFAAOCAQEAcuI2
ggT+mh/DSxzpNCxTGmwH1FuuN6Tz/Mz8zM265Yxyee6mdwOCH3Meng2kDmLKklgY
ZEScLLnBNRRQNOHkMSOgL3WiKVJG0d1M76e/2IO6/jOo6uP8/Lcw+wbjWZoFlKh0
umjXJEoZt45Wu5B2kFcG854lAh4pAaw3hO+xP8L17uUrGMCtgnG9LcX+X5UXh7LV
yLHoJrFQ2VmkU4TVWJhVOUGIl8h3OmqPfB23+hyx67A7qgJnupBj83F8RfvNBcF8
M0Eyi0xjnOFyWqO6VX9J2UUs4KNQFzywfXDDam+8gpWbpvfVzmE4I0BLweLyespr
6PJkNn6BIpflzipWDw==
-----END CERTIFICATE-----
