[Unit]
Description=geOrchestra gn-cloud-searching webservice
After=syslog.target

[Service]
User=www-data
# gn-cloud-* webservices require java >= 11
ExecStart=/usr/lib/jvm/{{ java_version }}/bin/java  -Dsearch_without_sql -Dspring.config.location=/etc/georchestra/geonetwork/microservices/searching/config.yml -Dspring.cloud.bootstrap.enabled=false -Dserver.port={{ gn_cloud_searching.port }} -jar /usr/share/lib/searching.jar
SuccessExitStatus=143
StandardOutput=append:{{ logs_basedir }}/gn-cloud-searching.log
StandardError=append:{{ logs_basedir }}/gn-cloud-searching.log

[Install]
WantedBy=multi-user.target
