[Unit]
Description=geOrchestra gateway service
After=syslog.target

[Service]
User=www-data
ExecStart=/usr/bin/java -Dserver.port={{ gateway.port }} -Dgeorchestra.datadir=/etc/georchestra -jar /usr/share/lib/georchestra-gateway/georchestra-gateway.jar
SuccessExitStatus=143
StandardOutput=append:{{ logs_basedir }}/gateway.log
StandardError=append:{{ logs_basedir }}/gateway.log

[Install]
WantedBy=multi-user.target
