- name: georchestra deployment
  hosts: test
  sudo: yes
  roles:
    - georchestra
  vars:
    openldap_basedn: dc=georchestra,dc=org
    openldap_rootdn: cn=admin,dc=georchestra,dc=org
    openldap_rootpw: secret
    openldap_commit: 8e606269a23ee8605b1d3b686670d7e173a8debd
    ad_server: ad.georchestra.org
    ad_search_base: cn=users,dc=georchestra,dc=org
    ad_bind_dn: cn=admin,cn=users,dc=georchestra,dc=org
    ad_password: ad_secret
    georchestra_fqdn: georchestra.org
    georchestra_dbname: georchestra
    georchestra_dbuser: georchestra
    georchestra_dbpass: georchestra
    geonetwork_schema: geonetwork
    geonetwork_dbuser: geonetwork
    geonetwork_dbpass: geonetwork
    geonetwork_datadir: /srv/data/geonetwork/
    geoserver_privileged_user: geoserver_privileged_user
    geoserver_privileged_pass: gerlsSnFd6SmM
    geoserver_datadir: /srv/data/geoserver/
    geoserver_wms_srslist: [2154, 3857, 3942, 3943, 3944, 3945, 3946, 3947, 3948, 3949, 3950, 4171, 4258, 4326, 23030, 23031, 23032, 32630, 32631, 32632, 4171, 4271, 3758]
    geowebcache_datadir: /srv/data/geowebcache/
    extractor_datadir: /srv/data/extractor/
    mapfishapp_datadir: /srv/data/mapfishapp/
    tomcat_keystore_pass: tomcatkstp
    tomcat_keystore_dbname: CN=localhost, O=IT, L=Somewhere, C=FR
    tomcat_basedir: /srv/tomcat
    logs_basedir: /srv/log
    ldapadmin_adminemail: admin@georchestra.org
    apache_fullhttps: true
    apache_certpki: false
    apache_certnumber: 0
    tomcat_instances: {
      proxycas: { port: 8180, control_port: 8105 },
      geoserver: { port: 8280, control_port: 8205 },
      georchestra: { port: 8380, control_port: 8305 }
    }
    georchestra_wars: {
      analytics: { url: analytics, job: georchestra-template, tomcat: georchestra },
      cas: { url: cas-server-webapp, job: georchestra-template, tomcat: proxycas },
      catalogapp: { url: catalogapp, job: georchestra-template, tomcat: georchestra },
      downloadform: { url: downloadform, job: georchestra-template, tomcat: georchestra },
      extractorapp: { url: extractorapp, job: georchestra-template,  tomcat: georchestra },
      geonetwork: { url: geonetwork/web, job: georchestra-template,  tomcat: georchestra },
      geoserver: { url: geoserver/webapp, job: georchestra-template-geofence, tomcat: geoserver },
      geowebcache: { url: geowebcache-webapp, job: georchestra-template, tomcat: georchestra },
      geofence: { url: geoserver/geofence-webapp, job: georchestra-template-geofence, tomcat: georchestra },
      header: { url: header, job: georchestra-template, tomcat: georchestra },
      ldapadmin: { url: ldapadmin, job: georchestra-template, tomcat: georchestra },
      mapfishapp: { url: mapfishapp, job: georchestra-template, tomcat: georchestra },
      ROOT: { url: security-proxy, job: georchestra-template, tomcat: proxycas }
    }
