---
- name: georchestra deployment
  hosts: mygeorchestra
  # note: above host must match the content of the "hosts" file
  become: true
  roles:
    - { role: georchestra, tags: georchestra }
    - { role: ansible-role-elasticsearch, tags: es }
    - { role: superset, tags: superset, when: superset.enabled }
    - { role: geerlingguy.kibana, tags: kibana }
  vars:
    georchestra_versions:
      # master version
      datadir: master # or 24.0, see https://github.com/georchestra/datadir/branches
      debian_repository_url: deb [signed-by=/etc/apt/keyrings/packages.georchestra.org.gpg] https://packages.georchestra.org/debian master main # or 24.0.x
      georchestra_repository: master # see https://github.com/georchestra/georchestra/branches
      geonetwork_datadir: gn4.4.7 # see https://github.com/georchestra/geonetwork_minimal_datadir/branches
      geoserver_datadir: master # https://github.com/georchestra/geoserver_minimal_datadir/branches
      # 25.0.x
      # datadir: 25.0
      # debian_repository_url: deb [signed-by=/etc/apt/keyrings/packages.georchestra.org.gpg] https://packages.georchestra.org/debian 25.0.x main
      # georchestra_repository: 25.0.x
      # geonetwork_datadir: gn4.4.7
      # geoserver_datadir: 2.27.0

    java_version: java-17-openjdk-amd64
    tomcat_version: 9
    kibana_server_host: 127.0.0.1
    elasticsearch_version: '7.x'
    elasticsearch_log: /srv/elasticsearch/logs
    elasticsearch_data: /srv/elasticsearch/data
    elasticsearch_extra_options: |  
      cluster.name: "{{ georchestra.fqdn }}"
      bootstrap.memory_lock: true
    elasticsearch_heap_size_min: 1g
    elasticsearch_heap_size_max: 2g
    cadastrapp:
      enabled: false
      db:
        name: georchestra
        user: georchestra
        schema: cadastrapp
        pass: georchestra
      qgisdb:
        host: localhost
        port: 5432
        name: georchestra
        user: georchestra
        pass: georchestra
        schema: qadastre
      gitrepo: https://github.com/georchestra/cadastrapp
      gitversion: master
      debsrc:
        path: /data/src/georchestra/cadastrapp/cadastrapp/target/
        pkg: georchestra-cadastrapp_99.master.202108020909~80b14a6-1_all.deb
        host: build.fluela
      workdir: /tmp/cadastrapp/tmp
    # Set here your Github token, which should at least have the 'actions' scope
    github_action_token: secret
    # if deploying an ms2 artifact from gh
    # mapstore: {
    #  enabled: True,
    #  repo: georchestra/mapstore2-georchestra,
    #  artifact_id: 119135632,
    #  artifact_sha256: b2803ecc76a3768fdc5e358f23b5c5ce10b02ddc #git commit hash
    # }
    openldap:
      topdc: georchestra
      basedn: dc=georchestra,dc=org # has to be in the form dc={{ topdc }},dc=xx
      rootdn: cn=admin,dc=georchestra,dc=org
      rootpw: secret
      gitrepo: https://raw.github.com/georchestra/georchestra
      ldifs:
        - bootstrap
        - docker-root/georchestraSchema
        - docker-root/etc/ldap.dist/modules/groupofmembers
        - docker-root/etc/ldap.dist/modules/openssh
        - docker-root/memberof
        - docker-root/lastbind
        - root
        - docker-root/georchestra
      gitversion: "{{ georchestra_versions.georchestra_repository }}"

    georchestra:
      fqdn: georchestra.example.org
      max_body_size: 100M
      ign_api_key: luvs4p9c4yq5ewfwqcqgm83f # invalid key only used in sviewer
      db:
        name: georchestra
        user: georchestra
        pass: georchestra
      datadir:
        path: /etc/georchestra
        gitrepo: https://github.com/georchestra/datadir
        gitversion: "{{ georchestra_versions.datadir }}"
      debian:
        repo: "{{ georchestra_versions.debian_repository_url }}"
        key: https://packages.georchestra.org/debian/landry%40georchestra.org.gpg.pubkey
      header:
        height: 80
        script: https://cdn.jsdelivr.net/gh/georchestra/header@dist/header.js
        logourl: https://www.georchestra.org/public/georchestra-logo.svg
        legacy: "false"
        legacyurl: /header/
#        stylesheet: /public/stylesheet.css
#        configfile: /public/config.json
    geonetwork:
      microservice_version: 4.4.7-0
      db:
        schema: geonetwork
      datadir:
        path: /srv/data/geonetwork/
        gitrepo: https://github.com/georchestra/geonetwork_minimal_datadir
        gitversion: "{{ georchestra_versions.geonetwork_datadir }}"
    geoserver:
      privileged:
        user: geoserver_privileged_user
        pass: gerlsSnFd6SmM
      datadir:
        path: /srv/data/geoserver/
        gitrepo: https://github.com/georchestra/geoserver_minimal_datadir
        gitversion: "{{ georchestra_versions.geoserver_datadir }}"
      wms_srslist:
        - 2154
        - 3857
        - 3942
        - 3943
        - 3944
        - 3945
        - 3946
        - 3947
        - 3948
        - 3949
        - 3950
        - 4171
        - 4258
        - 4326
        - 23030
        - 23031
        - 23032
        - 32630
        - 32631
        - 32632
        - 4171
        - 4271
        - 3758
    geowebcache_datadir: /srv/data/geowebcache/
    tomcat_keystore_pass: tomcatkstp
    tomcat_basedir: /srv/tomcat
    system_locale: en_US.UTF-8
    logs_basedir: /srv/log
    force_https: true # set to false if running behind a reverse proxy that does SSL
    # if running behind a reverse proxy, uncomment/fill so that you get the real client ip in accesslogs
    #reverse_proxy_real_ip: 10.0.0.1
    #reverse_proxy_real_ip_header: X-Forwarded-For
    console_adminemail: admin@example.org
    console_captcha:
      privateKey: ""
      publicKey: ""
    tomcat_instances:
      proxycas:
        port: 8180
        control_port: 8105
        xms: 256m
        xmx: 512m
      georchestra:
        port: 8280
        control_port: 8205
        xms: 1G
        xmx: 2G
      geoserver:
        port: 8380
        control_port: 8305
        xms: 1G
        xmx: 1G
    georchestra_wars:
      analytics:
        pkg: georchestra-analytics
        tomcat: georchestra
        enabled: true
      cas:
        pkg: georchestra-cas
        tomcat: proxycas
        enabled: true
      geonetwork:
        pkg: georchestra-geonetwork
        tomcat: georchestra
        enabled: true
      # mapstore: # using a github action artifact
      #   url: https://api.github.com/repos/{{ mapstore.repo }}/actions/artifacts/{{ mapstore.artifact_id }}/zip
      #   tomcat: georchestra
      #   artifact_sha256: "{{ mapstore.artifact_sha256 }}"
      #   enabled: "{{ mapstore.enabled }}"
      mapstore: # using the package from packages.georchestra.org
        pkg: georchestra-mapstore
        tomcat: georchestra
        enabled: true
      geoserver:
        pkg: georchestra-geoserver
        tomcat: geoserver
        enabled: true
      geowebcache:
        pkg: georchestra-geowebcache
        tomcat: georchestra
        enabled: true
      import:
        pkg: georchestra-datafeeder-ui
        tomcat: georchestra
        enabled: true
      header:
        pkg: georchestra-header
        tomcat: georchestra
        enabled: true
      console:
        pkg: georchestra-console
        tomcat: georchestra
        enabled: true
      cadastrapp:
        pkg: georchestra-cadastrapp
        tomcat: georchestra
        enabled: true
      ROOT:
        pkg: georchestra-security-proxy
        tomcat: proxycas
        enabled: true
    datafeeder:
      enabled: true
      port: 8480
    # not yet, doesnt work standalone ?
    #    cas:
    #      pkg: georchestra-cas
    #      enabled: true
    #      port: 8980
    gn_cloud_searching:
      enabled: true
      port: 8580
      url: https://packages.georchestra.org/bot/wars/geonetwork-microservices/searching.jar
    gn_ogc_api_records:
      enabled: true
      port: 8880
      #timeout: 300
      url: https://packages.georchestra.org/bot/wars/geonetwork-microservices/gn-cloud-ogc-api-records-service-{{ geonetwork.microservice_version }}.jar
    datahub:
      enabled: true
      url: https://packages.georchestra.org/bot/datahub/datahub.zip
      default_api_url: /geonetwork/srv/api # could be set to any other GeoNetwork catalogue, even remote if CORS allows it
    mdeditor:
      enabled: false
      url: https://github.com/geonetwork/geonetwork-ui/releases/download/v2.4.0-alpha.2/metadata-editor-2.4.0-alpha.2.zip
    mviewer:
      enabled: true
      port: 8680
      gitrepo: https://github.com/mviewer/mviewer
      gitversion: master
    mviewerstudio:
      enabled: true
      port: 8780
      gitrepo: https://github.com/mviewer/mviewerstudio
      gitversion: master
    gateway:
      enabled: false
      port: 8980
    superset:
      enabled: true
      secretkey: CHANGEME
      urlprefix: superset
      port: 9080 # gunicorn port
  tasks:
    - name: reconfigure Kibana after geerlingguy.kibana
      copy:
        src: resources/kibana.yml
        dest: /etc/kibana/kibana.yml
        owner: root
        group: root
        mode: "0644"
      notify: restart kibana

  handlers:
    - name: restart kibana
      service: name=kibana state=restarted
