{
    "app_conf": {
        "studio_title": "Mviewer studio",
        "upload_service": "srv/php/store.php",
        "delete_service": "srv/php/delete.php",
        "list_service": "srv/php/list.php",
        "store_style_service": "srv/php/store/style.php",
        "mviewer_instance": "https://{{ georchestra.fqdn }}/mviewer/",
        "conf_path_from_mviewer": "apps/store/",
        "mviewer_short_url": {
            "used": true,
            "apps_folder": "store"
        },
        "external_themes": {
            "used": false,
            "url": "https://geobretagne.fr/minicatalog/csv"
        },
        "user_info": "srv/php/user_info.php",
        "export_conf_folder": "/var/www/mviewer/apps/store/",
        "proxy": "../proxy/?url=",
        "user_info_visible": false,
        "app_form_placeholders": {
            "app_title": "Mviewer Studio",
            "logo_url": "https://geobretagne.fr/pub/logo/region-bretagne.jpg",
            "help_file": "mviewer_help.html"
        },
        "map": {
            "center": [-307903.74898791354, 6141345.088741366],
            "zoom": 7
        },
        "baselayers": {
            "positron": {
                "id": "positron",
                "thumbgallery": "img/basemap/positron.png",
                "title": "CartoDb",
                "label": "Positron",
                "type": "OSM",
                "url": "https://{a-c}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png",
                "attribution": "Map tiles by  <a href=\"https://cartodb.com/attributions\">CartoDb</a>, under  <a href=\"https://creativecommons.org/licenses/by/3.0/\">CC BY 3.0 </a>"
            },
            "esriworldimagery": {
                "id": "esriworldimagery",
                "thumbgallery": "img/basemap/esriworldwide.jpg",
                "title": "Esri",
                "label": "Esri world imagery",
                "type": "OSM",
                "url": "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                "attribution": "<a href=\"https://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9\" target=\"_blank\" >Esri world imagery</a>"
            },
            "darkmatter": {
                "id": "darkmatter",
                "thumbgallery": "img/basemap/darkmatter.png",
                "title": "CartoDb",
                "label": "Dark Matter",
                "type": "OSM",
                "url": "https://{a-c}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png",
                "maxzoom": "20",
                "attribution": "Map tiles by  <a href=\"https://cartodb.com/attributions\">CartoDb</a>, under  <a href=\"https://creativecommons.org/licenses/by/3.0/\">CC BY 3.0 </a>"
            },
            "ortho1": {
                "id": "ortho1",
                "thumbgallery": "img/basemap/ortho.jpg",
                "title": "GéoBretagne",
                "label": "Photo aérienne actuelle",
                "type": "WMTS",
                "url": "https://tile.geobretagne.fr/gwc02/service/wmts",
                "layers": "satellite",
                "format": "image/png",
                "style": "_null",
                "matrixset": "EPSG:3857",
                "fromcapacity": "false",
                "attribution": "<a href=\"https://geobretagne.fr/geonetwork/srv/fre/catalog.search#/metadata/3a0ac2e3-7af1-4dec-9f36-dae6b5a8c731\" target=\"_blank\" >partenaires GéoBretagne - Megalis Bretagne - IGN - PlanetObserver</a>"
            },
            "ortho_ir": {
                "id": "ortho_ir",
                "thumbgallery": "img/basemap/ir.jpg",
                "title": "GéoBretagne",
                "label": "Photo aérienne infra rouge",
                "type": "WMTS",
                "url": "https://geobretagne.fr/geoserver/gwc/service/wmts",
                "layers": "photo:ir-composite",
                "format": "image/jpeg",
                "style": "_null",
                "matrixset": "EPSG:3857",
                "fromcapacity": "false",
                "attribution": "<a href=\"https://geobretagne.fr/geonetwork/srv/fre/catalog.search#/metadata/434b82a8-8d3c-4d9f-9eb3-0485f1a63eb6\" target=\"_blank\" >partenaires GéoBretagne - Megalis Bretagne - IGN</a>"
            },
            "osm_google": {
                "id": "osm_google",
                "thumbgallery": "img/basemap/osm_google.png",
                "title": "GéoBretagne",
                "label": "OpenStreetMap",
                "type": "WMS",
                "url": "https://osm.geobretagne.fr/gwc01/service/wms",
                "layers": "osm:google",
                "format": "image/png",
                "attribution": "GéoBretagne. Données : les contributeurs d'<a href=\"https://www.openstreetmap.org/\" target=\"_blank\">OpenStreetMap </a>,  <a href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\">ODbL </a>"
            },
            "osm": {
                "id": "osm",
                "thumbgallery": "img/basemap/osm.png",
                "title": "OSM",
                "label": "OpenStreetMap",
                "type": "OSM",
                "url": "https://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                "attribution": "Données : les contributeurs d'<a href=\"https://www.openstreetmap.org/\" target=\"_blank\">OpenStreetMap </a><a href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\">ODbL </a>"
            },
            "osm_bzh": {
                "id": "osm_bzh",
                "thumbgallery": "img/basemap/osm.png",
                "title": "OSM BZH",
                "label": "OpenStreetMap en breton",
                "type": "OSM",
                "maxzoom": "20",
                "url": "https://tile.openstreetmap.bzh/br/{z}/{x}/{y}.png",
                "attribution": "Kendaolerien <a href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\">OpenStreetMap</a>"
            },
            "plan_ign": {
                "id": "plan_ign",
                "thumbgallery": "img/basemap/scan-express.jpg",
                "title": "IGN",
                "label": "Plan IGN v2",
                "type": "WMTS",
                "url": "https://wxs.ign.fr/choisirgeoportail/geoportail/wmts?",
                "layers": "GEOGRAPHICALGRIDSYSTEMS.PLANIGNV2",
                "format": "image/png",
                "fromcapacity": "false",
                "attribution": "<a href='https://geoservices.ign.fr' target='_blank'><img src='https://geoservices.ign.fr/images/logoIGN.png'></a>",
                "style": "normal",
                "matrixset": "PM",
                "maxzoom": "22"
            },
            "ortho_ign": {
                "id": "ortho_ign",
                "thumbgallery": "img/basemap/ortho.jpg",
                "title": "IGN",
                "label": "Photographies aériennes IGN",
                "type": "WMTS",
                "url": "https://wxs.ign.fr/choisirgeoportail/geoportail/wmts?",
                "layers": "ORTHOIMAGERY.ORTHOPHOTOS",
                "format": "image/jpeg",
                "fromcapacity": "false",
                "attribution": "<a href='https://geoservices.ign.fr' target='_blank'><img src='https://geoservices.ign.fr/images/logoIGN.png'></a>",
                "style": "normal",
                "matrixset": "PM",
                "maxzoom": "22"
            }
        },
        "data_providers": {
            "csw": [{
                    "title": "Catalogue Local",
                    "url": "https://{{ georchestra.fqdn }}/geonetwork/srv/fre/csw",
                    "baseref": "https://{{ georchestra.fqdn }}/geonetwork/srv/fre/catalog.search?node=srv#/metadata/"
                },{
                    "title": "Catalogue GéoBretagne",
                    "url": "https://geobretagne.fr/geonetwork/srv/fre/csw",
                    "baseref": "https://geobretagne.fr/geonetwork/srv/eng/catalog.search?node=srv#/metadata/"
                },
                {
                    "title": "Catalogue Région Bretagne",
                    "url": "https://kartenn.region-bretagne.fr/geonetwork/srv/fre/csw",
                    "baseref": "https://kartenn.region-bretagne.fr/geonetwork/srv/fre/catalog.search#/metadata/"
                },
                {
                    "title": "Catalogue de la Région Grand Est",
                    "url": "https://www.geograndest.fr/geonetwork/srv/fre/csw",
                    "baseref": "https://www.geograndest.fr/geonetwork/srv/eng/catalog.search?node=srv#/metadata/"
                },
                {
                    "title": "Catalogue de la Région Pays de la Loire",
                    "url": "https://www.geopal.org/geonetwork/srv/fre/csw",
                    "baseref": "https://www.geopal.org/geonetwork/srv/eng/catalog.search?node=srv#/metadata/"
                }
            ],
            "wms": [{
                "title": "Serveur WMS local",
                "url": "https:/{{ georchestra.fqdn }}/geoserver/wms"
            },{
                "title": "Serveur WMS de la Région",
                "url": "https://ows.region-bretagne.fr/geoserver/wms"
            }]
        },
        "default_params": {
            "layer": {
                "info_format": "text/html"
            }
        }
    }
}