# General purposes properties

# URL of the geOrchestra instance
# default: see default.properties - uncomment to override
#publicUrl=

# Language of the interface
# default: see default.properties - uncomment to override
#language=

# User to connect to PostGreSQL server
# default: see default.properties - uncomment to override
#pgsqlUser=

# Password to connect to PostGreSQL server
# default: see default.properties - uncomment to override
#pgsqlPassword=

# JDBC URL to connect to PostgreSQL server
# default: see default.properties - uncomment to override
#jdbcUrl=


# Email properties

# SMTP server domain name
# default: localhost
#smtpHost=localhost

# SMTP server port
# default: 25
#smtpPort=25

# ReplyTo field in sent emails
# default: ${administratorEmail}
#replyTo=${administratorEmail}

# From field in sent emails
# default: ${administratorEmail}
#from=${administratorEmail}

# Send emails in HTML format
# default: false
#emailHtml=false


# GeoServer admin username
# default: geoserver_privileged_user
privileged_admin_name={{ geoserver.privileged.user }}

# GeoServer admin password
# default: gerlsSnFd6SmM
privileged_admin_pass={{ geoserver.privileged.pass }}


# Link to DB to store extraction statistics in 'extractorapp' schema

# Minimum connections pool size
# default: 1
#dataSource.minPoolSize=1

# Maximum connections pool size
# default: 10
#dataSource.maxPoolSize=10

# Connections pool timeout (ms)
# default: 2000
#dataSource.timeout=2000

# Max time unused connections are kept idle in the pool. Unit is seconds for c3p0.
# default: 60
#dataSource.maxIdleTime=60


# Max extraction size in pixels

# Maximum coverage extraction size
# default: 99999999
#maxCoverageExtractionSize=99999999

# Maximum number of extractions
# default: 100
#maxExtractions=100

# Allow remote reprojection
# default: true
#remoteReproject=true

# Use command line GDAL
# default: false
#useCommandLineGDAL=false

# Extraction folder prefix
# default: extraction-
#extractionFolderPrefix=extraction-

# Subject of the extraction emails
# default: [${instanceName}] Your extraction request
#emailsubject=[${instanceName}] Your extraction request


# Minimum number of threads for extractionManager bean
# default: 1
#minThreads=1
