# This file holds some property shared across all geOrchestra webapps

# Public URL of this geOrchestra instance
# URL must not include the trailing slash
publicUrl=https://{{ georchestra.fqdn }}

# Configure Header
headerHeight=90
headerUrl=/header/
