# This file holds some property shared across all geOrchestra webapps

# Public URL of this geOrchestra instance
# URL must not include the trailing slash
publicUrl=https://{{ georchestra.fqdn }}

# Name of this geOrchestra instance
instanceName=geOrchestra

# Default language
language=en

# Header height (size in px)
headerHeight=90
# Header URL (can be absolute or relative)
headerUrl=/header/
