[Unit]
Description=datafeeder
After=syslog.target

[Service]
User=www-data
ExecStart=/usr/bin/java -Dserver.port={{ datafeeder.port }} -jar /srv/webapps/datafeeder.jar
SuccessExitStatus=143
StandardOutput=append:/tmp/datafeeder.log
StandardError=append:/tmp/datafeeder.log

[Install]
WantedBy=multi-user.target
