[Unit]
Description=geOrchestra datafeeder backend
After=syslog.target

[Service]
User=www-data
ExecStart=/usr/bin/java -Dserver.port={{ datafeeder.port }} -jar /usr/share/lib/georchestra-datafeeder/datafeeder-bin.jar
SuccessExitStatus=143
StandardOutput=append:{{ logs_basedir }}/datafeeder.log
StandardError=append:{{ logs_basedir }}/datafeeder.log

[Install]
WantedBy=multi-user.target
